{
  "openapi": "3.0.0",
  "info": {
    "title": "Blink API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/abandoned-carts/{id}/recover": {
      "post": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Manually trigger recovery email",
        "description": "This endpoint allows you to manually trigger a recovery email for an abandoned cart specified by its ID. It checks the cart's status, and if it hasn't been recovered, it will regenerate the recovery URL using the Stripe checkout session and dispatch a recovery email to the customer. It increments the recovery email sent counter regardless of email success.\n\n**Business Use-case:** Useful when you want to manually re-initiate the recovery process for a specific cart.\n\n**Parameters:**\n- `id`: The ID of the abandoned cart to recover (path parameter).\n\n**Responses:**\n- `201`: Returns details about the recovery process including whether the email was successfully sent.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the cart does not exist.\n- `400`: Bad Request if the cart is already recovered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful recovery initiation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/abandoned-carts/{id}": {
      "get": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Retrieve abandoned cart details",
        "description": "Retrieves details of a specific abandoned cart using its ID. The response includes information about the cart, such as customer email, status, and product details.\n\n**Business Use-case:** Use this endpoint to view details of a forgotten cart, aiding in customer follow-up or analytics.\n\n**Parameters:**\n- `id`: The ID of the abandoned cart (path parameter).\n\n**Responses:**\n- `200`: Returns the abandoned cart details.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the cart does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abandoned cart data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCart"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/abandoned-carts": {
      "get": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "List all abandoned carts",
        "description": "Lists all abandoned carts for a store with optional filtering by cart status or product ID. Supports pagination.\n\n**Business Use-case:** Retrieve a list of all forgotten carts for a store. This can help in analyzing trends and planning follow-up strategies.\n\n**Query Parameters:**\n- `status`: Cart status (e.g., 'open', 'recovered').\n- `product_id`: Filter by specific product ID.\n- Pagination parameters: `limit`, `page`.\n\n**Responses:**\n- `200`: Returns a list of abandoned carts with pagination metadata.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "recovered",
                "expired"
              ]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abandoned carts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/abandoned-carts/trigger": {
      "post": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Trigger a recovery email",
        "description": "Manually sends a recovery email for a specified abandoned cart. This endpoint can be used to re-initiate customer communication for carts awaiting recovery.\n\n**Business Use-case:** Directly reach out to customers who have left items in their carts, potentially increasing order completion rates.\n\n**Request Body:**\n- `cart_id`: The ID of the cart to trigger a recovery email for.\n\n**Responses:**\n- `200`: Successful email trigger.\n- `400`: Bad Request if the `cart_id` is missing or invalid.\n- `404`: Not Found if the cart does not exist.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoveryTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/affiliates/{id}/conversions": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Get affiliate conversions",
        "description": "Retrieves a list of orders that are attributed to a specific affiliate based on their membership ID. Provides detailed order information, including the status, amount, and commission.\n\n**Business Use-case:** Allows affiliates to track their performance and commissions by viewing the orders they have influenced.\n\n**Parameters:**\n- `id`: The affiliate membership ID (path parameter).\n- Pagination parameters: `limit`, `page`.\n\n**Responses:**\n- `200`: Returns a list of affiliate conversions with pagination metadata.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the affiliate does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliate conversions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateConversions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/affiliates/{id}": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Retrieve affiliate details",
        "description": "Retrieves details of a specific affiliate membership using its ID. It includes affiliate profile information and conversion statistics. **Business Use-case:** Use this to get detailed insights into an individual affiliate's performance, including total revenue and pending commissions. **Parameters:** - `id`: The affiliate membership ID (path parameter). **Responses:** - `200`: Returns affiliate details with stats. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the affiliate does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliate details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Update affiliate details",
        "description": "Updates the details of a specific affiliate membership using its ID. You can change the status of the affiliation. **Business Use-case:** Utilize this endpoint to modify affiliate statuses like changing them to 'approved', 'banned', etc. **Parameters:** - `id`: The affiliate membership ID (path parameter). **Request Body:** - `status`: New status for the affiliate. **Responses:** - `200`: Returns updated affiliate details. - `400`: Bad request if no valid update fields are provided. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the affiliate does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/affiliates/invite": {
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Invite an affiliate",
        "description": "Programmatically sends an email invitation to a potential affiliate. The email contains a link for joining the affiliate program. **Business Use-case:** Useful for programatically adding affiliates to expand marketing reach. **Request Body:** - `email`: Email address of the potential affiliate. **Responses:** - `200`: Invitation sent successfully. - `400`: Bad request if the email is missing. - `401`: Unauthorized if `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateInviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateInviteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/affiliates/links": {
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Generate custom affiliate link",
        "description": "Generates a custom tracking link for an affiliate membership using a specific code. **Business Use-case:** Allows affiliates to create personalized links that can track their referral traffic and conversions. **Request Body:** - `membership_id`: The affiliate membership ID. - `code`: Custom code for the link (alphanumeric and dashes). **Responses:** - `201`: Link created successfully. - `400`: Bad request if the code is invalid or missing required fields. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the affiliate membership does not exist.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tracking link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/affiliates": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "List affiliates",
        "description": "Retrieves a list of affiliates for a store, with optional filtering by status and pagination support. **Business Use-case:** Analyze and manage affiliates for promotional strategies. **Query Parameters:** - `status`: Filter affiliates by their status. - Pagination parameters: `limit`, `page`. **Responses:** - `200`: List of affiliates with pagination metadata. - `401`: Unauthorized if `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliates list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Update affiliate membership status",
        "description": "Approves, rejects, or bans an affiliate's application based on the action specified. **Business Use-case:** Control the participation of affiliates based on their performance or issues. **Request Body:** - `membership_id`: The ID of the affiliate membership. - `action`: Action to perform (`approve`, `reject`, or `ban`). **Responses:** - `200`: Affiliate status updated successfully. - `400`: Bad request if required fields are missing or invalid. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the affiliate membership does not exist.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateMembershipUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate membership status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateMembershipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/audience/{id}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Retrieve audience member details",
        "description": "Fetches the details of a specific audience member using their ID. This includes personal information and order history. **Business Use-case:** Utilize this endpoint to get deeper insights into specific customer profiles for personalized marketing strategies. **Parameters:** - `id`: The audience member’s ID (path parameter). **Responses:** - `200`: Audience member details retrieved successfully. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the audience member does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Update audience member details",
        "description": "Updates the details of a specific audience member using their ID. This can include changes in name or subscription status. **Business Use-case:** Update customer data for better engagement and communication strategies. **Parameters:** - `id`: The audience member’s ID (path parameter). **Request Body:** - `name`, `status`: Fields that can be updated. **Responses:** - `200`: Audience details updated successfully. - `400`: Bad Request if no valid updates are provided. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the audience member does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Unsubscribe audience member",
        "description": "Marks an audience member as unsubscribed without deleting their order history. **Business Use-case:** Softly remove customers who wish to opt-out without losing their historical data. **Parameters:** - `id`: The audience member’s ID (path parameter). **Responses:** - `200`: Audience member unsubscribed successfully. - `401`: Unauthorized if `x-store-id` header is missing. - `404`: Not Found if the audience member does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience member unsubscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceUnsubscribeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bumps": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List store bumps",
        "description": "Retrieves a list of promotional bumps available in the store. A bump is a special offer or upsell related to a product. The response includes details like the title, description, price, and deliverables. **Business Use-case:** Utilize this endpoint to analyze or display product upsells and promotions for increasing average order value.\n\n**Query Parameters:**\n- `limit`: The number of items to retrieve.\n- `page`: The page number to retrieve.\n\n**Responses:**\n- `200`: Returns a list of bumps with pagination metadata.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bumps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new bump",
        "description": "Creates a new promotional bump for the store. Includes details like title, description, and price. **Business Use-case:** Use this endpoint to create new upsells and promotional offers to increase average order value.\n\n**Request Body:**\n- `title`: Title of the bump. (required)\n- `price`: Price of the bump in cents. (required)\n- `description`: Optional description of the bump.\n\n**Responses:**\n- `201`: Bump created successfully.\n- `400`: Bad Request if required fields are missing.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BumpCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bump created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checkouts/{id}": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Retrieve checkout session details",
        "description": "Fetches the status and details of a specific Stripe checkout session using its ID. The session details include URL, status, payment status, customer email, etc. **Business Use-case:** Use this endpoint to review the status of a checkout session and get necessary details for follow-up actions.\n\n**Parameters:**\n- `id`: The ID of the checkout session (path parameter).\n\n**Responses:**\n- `200`: Returns the checkout session details.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the checkout session does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/checkouts": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "List checkout sessions",
        "description": "Retrieves a list of checkout sessions for a store with optional filtering by status. Supports pagination. **Business Use-case:** Analyze all checkout sessions to monitor activities and trends in your store.\n\n**Query Parameters:**\n- `status`: Filter by session status.\n- `limit`: The number of items to retrieve.\n- `page`: The page number to retrieve.\n\n**Responses:**\n- `200`: Returns a list of checkout sessions with pagination metadata.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout sessions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Create a new checkout session",
        "description": "Initializes a new Stripe checkout session for a product and returns the session URL. Can be customized with discounts, affiliate codes, and display preferences. **Business Use-case:** This endpoint is crucial for starting a payment flow and redirecting customers to a payment page.\n\n**Request Body:**\n- `product_id`: ID of the product. (required)\n- `variant_id`: ID of the variant.\n- `customer_email`: Email of the customer.\n- `discount_code`: Optional discount code.\n\n**Responses:**\n- `201`: Checkout session created successfully.\n- `400`: Bad Request if required fields are missing or invalid.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/{id}/meter-balance": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve customer meter balances",
        "description": "Provides the balance of credits for each meter associated with a customer. Meters track specific activities or resources, and this endpoint shows how much credit remains. **Business Use-case:** Useful for analyzing customer usage and planning billing adjustments, if applicable.\n\n**Parameters:**\n- `id`: The ID of the customer (path parameter).\n\n**Responses:**\n- `200`: Returns the meter balances for the customer.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer meter balances retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeterBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customer orders",
        "description": "Retrieves a list of orders made by a specific customer. Includes information such as order status, amount, and product details. **Business Use-case:** Use this endpoint to manage customer relationships and analyze buying patterns.\n\n**Parameters:**\n- `id`: The ID of the customer (path parameter).\n- Pagination parameters: `limit`, `page`.\n\n**Responses:**\n- `200`: Returns a list of orders associated with the customer.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer orders retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/customers/{id}/portal-session": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer portal session",
        "description": "Generates a 15-minute magic link that logs the customer into their order portal. Use this endpoint to provide customers with quick access to view and manage their orders. \n\n**Parameters:**\n- `id`: Customer ID (path parameter).\n\n**Responses:**\n- `201`: Magic link created successfully and returned.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Portal session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve customer details",
        "description": "Fetches full details of a specific customer, including name, email, status, total orders, and lifetime revenue. \n\n**Parameters:**\n- `id`: Customer ID (path parameter).\n\n**Responses:**\n- `200`: Customer details are retrieved.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer details",
        "description": "Updates a customer's details such as name, email, or status. Use this endpoint to modify customer records in the database. \n\n**Parameters:**\n- `id`: Customer ID (path parameter).\n\n**Request Body:**\n- `name`, `email`, `status`: Fields that can be updated.\n\n**Responses:**\n- `200`: Customer details updated successfully.\n- `400`: Bad Request if no valid updates are provided.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer details updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/customers/{id}/subscriptions": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customer subscriptions",
        "description": "Retrieves all active subscriptions for a given customer. Useful for determining current and past engagements with customers.\n\n**Parameters:**\n- `id`: Customer ID (path parameter).\n\n**Responses:**\n- `200`: Subscriptions retrieved successfully.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the customer does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "description": "Fetches a list of customers for a store with optional filters by email and status. Supports pagination to handle large data sets effectively. \n\n**Query Parameters:**\n- `email`: Filter by email.\n- `status`: Filter by status.\n- Pagination: `limit`, `page`.\n\n**Responses:**\n- `200`: Customers list retrieved.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "Manually creates a new customer record in the store, useful for customer onboarding and creating customer profiles manually. \n\n**Request Body:**\n- `name`: Name of the customer. (optional)\n- `email`: Email of the customer. (required)\n\n**Responses:**\n- `201`: Customer created successfully.\n- `400`: Bad Request if the email is missing.\n- `409`: Conflict if a customer with the same email already exists.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/discounts/{id}": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "Retrieve discount details",
        "description": "Fetches details of a specific discount by its ID including code, type, and associated products. \n\n**Parameters:**\n- `id`: Discount ID (path parameter).\n\n**Responses:**\n- `200`: Discount details retrieved.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the discount does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Discounts"
        ],
        "summary": "Update discount details",
        "description": "Updates information for a specific discount, such as code, amount, or expiration date. Use to edit existing discount offers. \n\n**Parameters:**\n- `id`: Discount ID (path parameter).\n\n**Request Body:**\n- Fields like 'name', 'code', 'discount_amount', etc.\n\n**Responses:**\n- `200`: Discount updated successfully.\n- `400`: Bad Request if no valid updates are provided.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the discount does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Discounts"
        ],
        "summary": "Delete a discount",
        "description": "Deletes a discount from the database. This is irreversible and should be used when the discount is no longer needed.\n\n**Parameters:**\n- `id`: Discount ID (path parameter).\n\n**Responses:**\n- `200`: Discount deleted successfully.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the discount does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "List discounts",
        "description": "Retrieves a list of discounts for a store with optional filtering by status. Supports pagination.\n\n**Parameters:**\n- `x-store-id`: Store identifier (header parameter, required).\n- `status`: Status of the discount (query parameter).\n- `limit`: Number of items to retrieve (query parameter, default 10).\n- `page`: Page number to retrieve (query parameter, default 1).\n\n**Responses:**\n- `200`: Successfully retrieved a list of discounts with pagination metadata.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Discounts"
        ],
        "summary": "Create a new discount",
        "description": "Creates a new discount for the store. Ensures unique discount code within the store.\n\n**Request Body:**\n- `name`: Name of the discount (required).\n- `code`: Code for the discount (required).\n- `discount_type`: Type of discount (`percentage` or `fixed`, required).\n- `discount_amount`: Amount of the discount (required).\n- `status`: Status of the discount (optional, default `active`).\n- `max_redemptions`: Maximum number of times the discount can be redeemed (optional).\n- `product_ids`: List of product IDs associated with this discount (optional).\n- `starts_at`: Start date and time of the discount (optional).\n- `expires_at`: Expiration date and time of the discount (optional).\n\n**Responses:**\n- `201`: Discount created successfully.\n- `400`: Bad Request if required fields are missing or invalid.\n- `409`: Conflict if a discount with the same code already exists.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "List Stripe disputes",
        "description": "Fetches a list of disputes associated with the store's connected Stripe account. Supports limiting results.\n\n**Parameters:**\n- `x-store-id`: Store identifier (header parameter, required).\n- `limit`: Limit result set (query parameter, default 10).\n\n**Responses:**\n- `200`: Disputes retrieved successfully.\n- `400`: Bad Request if no Stripe account is connected.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/emails/broadcast": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Broadcast email to customers",
        "description": "Sends a targeted email to a segment of customers filtered by tag or all.\n\n**Request Body:**\n- `subject`: Subject of the email (required).\n- `html`: HTML content of the email (required).\n- `tag`: Tag to filter customers (optional, use `target_all` to target all customers if not specified).\n- `target_all`: Boolean indicating if all customers should be targeted (optional).\n\n**Responses:**\n- `200`: Broadcast sent successfully.\n- `400`: Bad Request if required fields are missing.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email broadcast sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailBroadcastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Track a custom event",
        "description": "Logs a custom event for a store using Umami analytics. Tracks user activities, marketing campaigns, or other events.\n\n**Request Body:**\n- `eventName`: Name of the event (required).\n- `eventData`: Data specific to the event (optional).\n- `url`: URL on which the event occurred (optional).\n- `referrer`: Referrer of the request (optional).\n\n**Responses:**\n- `200`: Event tracked successfully.\n- `400`: Bad Request if `eventName` is missing.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTrackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/license-keys/{id}/revoke": {
      "post": {
        "tags": [
          "License Keys"
        ],
        "summary": "Revoke a license key",
        "description": "Permanently disable a license key to prevent further use. Requires `x-store-id` for verification and checks the key’s status before revocation. Suitable when a license has been compromised or needs termination.\n\n**Parameters:**\n- `id`: License ID (path parameter).\n\n**Responses:**\n- `200`: License key revoked successfully.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the license key does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyRevokeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/license-keys/{id}": {
      "get": {
        "tags": [
          "License Keys"
        ],
        "summary": "Retrieve license key details",
        "description": "Fetch complete details of a license key using its ID, including status, activations, product, and customer information. Requires `x-store-id` for authentication and confirmation of ownership.\n\n**Parameters:**\n- `id`: License ID (path parameter).\n\n**Responses:**\n- `200`: License key details retrieved.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the license key does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "License Keys"
        ],
        "summary": "Update license key details",
        "description": "Allows updating of specific fields in a license key such as expiration date, activation limit, or status. Requires `x-store-id` for validation.\n\n**Parameters:**\n- `id`: License ID (path parameter).\n\n**Request Body:**\n- `expires_at`: New expiration date.\n- `activation_limit`: New activation limit.\n- `status`: New status.\n\n**Responses:**\n- `200`: License key updated successfully.\n- `400`: Bad Request if no valid fields are provided.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the license key does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/license-keys/activate": {
      "post": {
        "tags": [
          "License Keys"
        ],
        "summary": "Activate a license key",
        "description": "Activates a license key by incrementing its activation count, performing validation checks for key status, expiration, and activation limits. Requires `x-store-id` and `license_key` in the request body.\n\n**Request Body:**\n- `license_key`: The license key to activate.\n\n**Responses:**\n- `200`: License key activated successfully.\n- `400`: Bad Request if the license key has expired or reached its activation limit.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the license key is invalid.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyActivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyActivateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/license-keys": {
      "get": {
        "tags": [
          "License Keys"
        ],
        "summary": "List license keys",
        "description": "Retrieves a list of license keys for the store with optional filtering by status, product ID, or order ID. Supports pagination.\n\n**Business Use-case:** Useful for managing license keys issued to customers, including monitoring their status and usage.\n\n**Query Parameters:**\n- `limit`: Number of records to return (default: 50, maximum: 100).\n- `status`: Filter license keys by their status.\n- `product_id`: Filter keys by associated product ID.\n- `order_id`: Filter keys by associated order ID.\n\n**Responses:**\n- `200`: A list of license keys, along with pagination metadata.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `500`: Internal Server Error if there is an unexpected error during processing.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License keys list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeysListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/license-keys/validate": {
      "post": {
        "tags": [
          "License Keys"
        ],
        "summary": "Validate a license key",
        "description": "Validates a license key's status, expiration, and activation limits.\n\n**Business Use-case:** Ensures license keys are active and have not reached their usage or expiration limits before they are used.\n\n**Request Body:**\n- `license_key`: The license key to validate (required).\n\n**Responses:**\n- `200`: License key is valid with associated details provided.\n- `400`: Bad Request if key is expired or activation limits are reached.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the license key is invalid or does not exist.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/meters/{id}": {
      "get": {
        "tags": [
          "Meters"
        ],
        "summary": "Retrieve meter details",
        "description": "Fetches specific details of a meter identified by its ID.\n\n**Business Use-case:** Allows store owners to view and manage the measurement metrics tied to particular activities or resources within their store.\n\n**Parameters:**\n- `id`: Unique identifier of the meter (path parameter).\n\n**Responses:**\n- `200`: Meter details, including all attributes.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the meter does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meter details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Meters"
        ],
        "summary": "Update meter details",
        "description": "Updates the details of a specific meter, such as name or unit.\n\n**Business Use-case:** Modify meter configurations to ensure accurate tracking or reporting of metrics.\n\n**Parameters:**\n- `id`: Unique identifier of the meter (path parameter).\n\n**Request Body:**\n- Fields such as `name`, `unit` that need to be updated.\n\n**Responses:**\n- `200`: Meter successfully updated with new details.\n- `400`: Bad Request if no valid fields are provided.\n- `401`: Unauthorized if `x-store-id` header is missing.\n- `404`: Not Found if the meter does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meter updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/meters": {
      "get": {
        "tags": [
          "Meters"
        ],
        "summary": "List all meters",
        "description": "Retrieves a list of all meters within a store, with options for pagination.\n\n**Business Use-case:** Provides a comprehensive view of all meters being tracked, helping in resource management and strategy planning.\n\n**Query Parameters:**\n- `limit`: Number of items per page (default 10).\n- `page`: Page number (default 1).\n\n**Responses:**\n- `200`: List of meters with pagination information.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meters retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetersListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Meters"
        ],
        "summary": "Create a new meter",
        "description": "Adds a new meter for tracking a specific event or resource.\n\n**Business Use-case:** Essential for tracking new metrics in order to better understand usage and performance trends within the store.\n\n**Request Body:**\n- `name`: Name of the meter (required)\n- `unit`: Unit of measurement (optional, default 'unit')\n- `event_name`: Event name tied to this meter (required)\n- `aggregation_type`: How the metrics should be aggregated, options are `sum`, `count`, `max`, `latest` (required)\n\n**Responses:**\n- `201`: Meter created successfully.\n- `400`: Bad Request if mandatory fields are missing or invalid.\n- `409`: Conflict if a meter with the same event name already exists.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeterCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meter created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Retrieve metrics for revenue, orders, and subscriptions",
        "description": "Provides statistics for revenue, orders, subscriptions, and customer counts within a given date range.\n\n**Business Use-case:** Use to derive insights into sales performance and customer growth over times specific periods.\n\n**Query Parameters:**\n- `start_date`: Start date of the reporting period (ISO 8601 format, default: 30 days ago).\n- `end_date`: End date of the reporting period (ISO 8601 format, default: today).\n\n**Responses:**\n- `200`: Metrics retrieved successfully.\n- `400`: Bad Request if date inputs are invalid.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List all organizations",
        "description": "Fetches a list of organizations associated with the store identified by `x-store-id`. Supports pagination with `limit` and `page` query parameters. Each organization includes details such as email, organization name, and billing email.\n\n**Business Use-case:** Useful for managing and analyzing organizations linked to your store.\n\n**Query Parameters:**\n- `limit`: Number of items to retrieve per page.\n- `page`: The page number to retrieve.\n\n**Responses:**\n- `200`: Organizations retrieved successfully, includes metadata for pagination.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create a new organization",
        "description": "Creates a new organization within the store using `x-store-id`. Requires `email` and `organization_name`. Optionally accepts `billing_email`, defaulting to the provided `email` if not supplied.\n\n**Business Use-case:** Useful for adding new organizational entities to be associated with your store.\n\n**Request Body:**\n- `email`: Email of the organization (required).\n- `organization_name`: Name of the organization (required).\n- `billing_email`: Billing email (optional, defaults to `email`).\n\n**Responses:**\n- `201`: Organization created successfully.\n- `400`: Bad Request if required fields are missing.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "List Stripe payouts",
        "description": "Fetches a list of Stripe payouts for the store identified by `x-store-id`. Requires a connected Stripe account. Supports limiting the result set.\n\n**Business Use-case:** Useful for financial reconciliation and tracking payouts from Stripe.\n\n**Query Parameters:**\n- `limit`: Maximum number of payouts to retrieve (default 10).\n\n**Responses:**\n- `200`: Payouts retrieved successfully.\n- `400`: Bad Request if no Stripe account is connected.\n- `401`: Unauthorized if the `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payouts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve product details",
        "description": "Fetches detailed information about a product, including variants and deliverables, for a given product ID. Requires `x-store-id`.\n\n**Business Use-case:** Provides comprehensive insights into a product's configuration, variants, and linked digital deliverables for store management and product cataloging.\n\n**Path Parameters:**\n- `id`: Product ID.\n\n**Responses:**\n- `200`: Product details retrieved successfully.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the product does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID or the human-readable slug of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update product details",
        "description": "Updates an existing product's attributes such as name, price, or status. A product ID is required. Requires `x-store-id`.\n\n**Business Use-case:** Suitable for modifying product listings directly in the store's catalog, allowing for dynamically adjusting product offerings.\n\n**Path Parameters:**\n- `id`: Product ID.\n\n**Request Body:**\n- Various fields for updates, including `name`, `description`, `price`, etc.\n\n**Responses:**\n- `200`: Product updated successfully.\n- `400`: Bad Request if no valid fields are provided.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the product does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Archive a product",
        "description": "Archives a product by setting its status to 'archived'. This action does not delete the product but prevents it from being sold. Requires `x-store-id`.\n\n**Business Use-case:** Utilized when a product should be temporarily or permanently withdrawn from active sale while keeping its configuration for historical or analytical purposes.\n\n**Path Parameters:**\n- `id`: Product ID.\n\n**Responses:**\n- `200`: Product archived successfully.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the product does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductArchiveResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/products/{id}/variants": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List product variants",
        "description": "Retrieve a list of all variants associated with a specific product. Requires `x-store-id`.\n\n**Business Use-case:** Useful for detailed inventory management and displaying all available options for a product.\n\n**Path Parameters:**\n- `id`: Product ID.\n\n**Responses:**\n- `200`: Variants retrieved successfully.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the product does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variants retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product variant",
        "description": "Adds a new variant to a product. Requires `name` and `price`, along with other optional parameters. Requires `x-store-id`.\n\n**Business Use-case:** Valuable for expanding a product's options, such as adding new sizes or colors to a clothing product.\n\n**Path Parameters:**\n- `id`: Product ID.\n\n**Request Body:**\n- `name`: Name of the variant (required).\n- `price`: Price of the variant in cents (required).\n- Other optional fields like `description`, `is_active`, etc.\n\n**Responses:**\n- `201`: Variant created successfully.\n- `400`: Bad Request if required fields are missing.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the product does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductVariantCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Variant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/products/{id}/variants/{variantId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve product variant details",
        "description": "Fetches detailed information about a specific product variant. Requires `x-store-id`.\n\n**Business Use-case:** Provides comprehensive insights into a variant's configuration for inventory management and display purposes.\n\n**Path Parameters:**\n- `id`: Product ID.\n- `variantId`: Variant ID.\n\n**Responses:**\n- `200`: Variant details retrieved successfully.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the variant does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update product variant details",
        "description": "Updates attributes for a specific product variant, such as name, price, or status. Requires `x-store-id`.\n\n**Business Use-case:** Useful for maintaining variant accuracy and availability within the store catalog.\n\n**Path Parameters:**\n- `id`: Product ID.\n- `variantId`: Variant ID.\n\n**Request Body:**\n- Various fields for updates, including `name`, `price`, `is_active`, etc.\n\n**Responses:**\n- `200`: Variant updated successfully.\n- `400`: Bad Request if no valid fields are provided.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the variant does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductVariantUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete a product variant",
        "description": "Deletes a specific product variant. This action is irreversible. Requires `x-store-id`.\n\n**Business Use-case:** Suitable for removing specific variant options from a product's offering.\n\n**Path Parameters:**\n- `id`: Product ID.\n- `variantId`: Variant ID.\n\n**Responses:**\n- `200`: Variant deleted successfully.\n- `401`: Unauthorized if the `x-store-id` header is missing.\n- `404`: Not Found if the variant does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List all products",
        "description": "Retrieves a list of all products associated with a specific store. Supports pagination and filtering by status and pricing model. This endpoint provides detailed product information including variants and images.\n\n**Business Use-case:** Useful for managing the store's product catalog and reviewing available inventory.\n\n**Query Parameters:**\n- `x-store-id`: Store identifier (header, required).\n- `status`: Product status filter.\n- `pricing_model`: Filter by pricing model.\n- `limit`: Items per page.\n- `page`: Page number.\n\n**Responses:**\n- `200`: Products retrieved successfully with pagination metadata.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pricing_model",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product",
        "description": "Creates a new product in the store. Requires detailed product information including name, pricing model, and price. Optionally includes settings for subscription intervals, trial days, and license key configurations.\n\n**Business Use-case:** Adds new products to the store's offerings, supporting different pricing models and configurations.\n\n**Request Body:**\n- `name`: Product name (required).\n- `pricing_model`: Pricing model (required).\n- `price`: Product price in cents (required).\n\n**Responses:**\n- `201`: Product created successfully.\n- `400`: Bad request if required fields are missing or invalid.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/refunds": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "List refunds",
        "description": "Retrieves a list of refunds associated with a store's connected Stripe account. Supports limiting the results.\n\n**Business Use-case:** Useful for financial reconciliation and tracking refund activities within the store.\n\n**Query Parameters:**\n- `x-store-id`: Store identifier (header, required).\n- `limit`: Limit the number of refunds retrieved.\n\n**Responses:**\n- `200`: Refunds retrieved successfully.\n- `400`: Bad request if no Stripe account is connected.\n- `401`: Unauthorized if `x-store-id` header is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscription-invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List subscription invoices",
        "description": "Fetches a list of subscription invoices for the store. Supports filtering by status, subscription ID, and customer ID. Supports pagination.\n\n**Business Use-case:** Useful for tracking and managing subscription invoices and financial records.\n\n**Query Parameters:**\n- `x-store-id`: Store identifier (header, required).\n- `limit`: Limit the number of invoices retrieved.\n- `status`: Filter by invoice status.\n- `subscription_id`: Filter by subscription ID.\n- `customer_id`: Filter by customer ID.\n\n**Responses:**\n- `200`: Invoices retrieved successfully.\n- `401`: Unauthorized if `x-store-id` is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionInvoicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Retrieve subscription details",
        "description": "Fetches detailed information about a specific subscription. Includes product and variant details associated with the subscription.\n\n**Business Use-case:** Useful for understanding customer subscriptions and managing their lifecycle.\n\n**Path Parameters:**\n- `id`: Subscription ID (path parameter, required).\n\n**Responses:**\n- `200`: Subscription details retrieved successfully.\n- `401`: Unauthorized if `x-store-id` is missing.\n- `404`: Not Found if the subscription does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update subscription status",
        "description": "Updates the status of a subscription, allowing actions such as cancelation, immediate cancelation, or resumption.\n\n**Business Use-case:** Useful for managing the lifecycle of subscriptions, including cancelation and resumption.\n\n**Path Parameters:**\n- `id`: Subscription ID (path parameter, required).\n\n**Request Body:**\n- `action`: The action to perform on the subscription (required: `cancel`, `cancel_immediately`, or `resume`).\n\n**Responses:**\n- `200`: Subscription updated successfully.\n- `400`: Bad request if action is invalid.\n- `401`: Unauthorized if `x-store-id` is missing.\n- `404`: Not Found if the subscription does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Retrieves a list of all subscriptions for a given store. Supports filtering by status, customer ID, and product ID. Includes pagination.\n\n**Business Use-case:** Useful for managing and analyzing all active and past subscriptions.\n\n**Query Parameters:**\n- `x-store-id`: Store identifier (header, required).\n- `limit`: Limit the number of subscriptions retrieved.\n- `status`: Filter by subscription status.\n- `customer_id`: Filter by customer ID.\n- `product_id`: Filter by product ID.\n\n**Responses:**\n- `200`: Subscriptions retrieved successfully.\n- `401`: Unauthorized if `x-store-id` is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
[...]
