{
  "openapi": "3.0.0",
  "info": {
    "title": "Blink API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/audience/{id}": {
      "get": {
        "summary": "Get audience details",
        "description": "Fetch details of a specific audience member in your store using their ID. This includes personal information, subscription status, order counts, and lifetime revenue. Use this endpoint to gain insights and develop personalized marketing strategies based on customer lifetime metrics.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the audience member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed information about the audience member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceMember"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update audience status",
        "description": "Modify the status or other updatable fields of an audience member using their ID. Use valid input formats to ensure compliance with customer data standards and enhance individual engagement metrics.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the audience member to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated details of the audience member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceMember"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unsubscribe audience member",
        "description": "Soft delete an audience member by marking them as unsubscribed from future communications. This is useful for managing opt-outs and maintaining compliance with communication standards.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the audience member to unsubscribe.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation of the audience member's unsubscribed status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeConfirmation"
                }
              }
            }
          }
        }
      }
    },
    "/audience/broadcasts": {
      "get": {
        "summary": "List all broadcast emails",
        "description": "Retrieve a list of all broadcast emails sent to your store's audience. This endpoint allows you to filter broadcasts by their status and paginate through results. It returns details like the broadcast's ID, name, subject, status, and other related information.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter broadcasts by status (e.g., 'sending', 'sent').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of broadcast emails sent to the store's audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send a broadcast email",
        "description": "Send a broadcast email to your audience. This operation requires specifying the email's name, subject, HTML content, and the type of recipients. The email will be batched and sent through the service, updating the audience with any status changes upon completion.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast email successfully sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audience": {
      "get": {
        "summary": "List contacts",
        "description": "Retrieve a list of contacts who have opted into marketing communications. This endpoint supports filtering by status and email, as well as pagination. It provides insights into customer interactions and engagement with marketing materials.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter contacts by marketing subscription status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter contacts by email address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of contacts who opted into marketing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audience/tags": {
      "get": {
        "summary": "List customers by tag",
        "description": "Retrieve a list of customers associated with a specific tag. If no tag is specified, an error message will be returned. This endpoint helps in organizing your customer base by tags for targeted marketing strategies.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Specify the tag to filter customers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of customers with the specified tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaggedCustomersResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a tag to a customer",
        "description": "Add a new tag to a specific customer to organize and manage customer profiles better. Tags can be used to segment customers for targeted campaigns.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation of tag addition to the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove a tag from a customer",
        "description": "Remove an existing tag from a customer profile. This action helps maintain an organized and up-to-date customer tagging system, reflecting real-time customer behavior.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation of tag removal from the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bumps/{id}": {
      "get": {
        "summary": "Retrieve bump details",
        "description": "Fetch detailed information for a specific bump by ID. Bumps are upsell opportunities presented to customers for increasing average order value. This endpoint provides details, including the bump's sales, revenue, and associated deliverables.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the bump to retrieve details for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed information about the specified bump.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update bump details",
        "description": "Update specific fields of a bump such as title, description, and price. This is useful for store owners to adjust upsell offers dynamically based on changing product strategies and sales performance.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the bump to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BumpUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bump details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a bump",
        "description": "Delete a bump from the store, preventing it from being offered to customers as an upsell. This action is useful when a bump product is no longer available or relevant to the store's sales goals.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the bump to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation of bump deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfirmation"
                }
              }
            }
          }
        }
      }
    },
    "/bumps": {
      "get": {
        "summary": "List all bumps",
        "description": "Retrieve a list of bumps for a store identified by the `x-store-id` header. Returns paginated results with details like `id`, `title`, `description`, `price`, and associated deliverables.\n\n**Use Case:** Analyze upsell opportunities and sales performance within the store.\n\n**Responses:**\n- **200:** Successfully retrieved list of bumps.\n- **401:** If the store ID is missing or invalid.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bumps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new bump",
        "description": "Add a new bump to a store, requiring `title` and `price` fields provided in the request body. Additional optional fields include `description`, `badge_title`, and `badge_color`.\n\n**Use Case:** Increase average order value by introducing new upsell offers.\n\n**Responses:**\n- **201:** Successfully created bump.\n- **401:** If the store ID is missing or invalid.\n- **400:** If required fields are missing.\n",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BumpCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created bump data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/checkout-links": {
      "get": {
        "summary": "List custom checkout links",
        "description": "Retrieve a list of custom checkout links associated with the store identified by the `x-store-id` header. Supports filtering by `status`.\n\n**Use Case:** Manage and analyze checkout sessions' performance through the store platform.\n\n**Responses:**\n- **200:** Successfully retrieved list of checkout links.\n- **401:** If the store ID is missing or invalid.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter checkouts by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of checkout links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new checkout link",
        "description": "Create a new custom checkout link for a store. Requires a `name` in the request body, and optionally accepts `design` and `status`.\n\n**Use Case:** Facilitate direct sales through custom checkout links.\n\n**Responses:**\n- **201:** Successfully created checkout link.\n- **401:** If the store ID is missing or invalid.\n- **400:** If required fields are missing.\n",
        "tags": [
          "Checkouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutLinkCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created checkout link data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/checkout-links/{id}": {
      "get": {
        "summary": "Retrieve a checkout link",
        "description": "Fetch details of a specific checkout link using its ID and ensuring it belongs to the specified store through the `x-store-id` header.\n\n**Use Case:** View exact configurations and statistics of a checkout link for management and auditing.\n\n**Responses:**\n- **200:** Successfully retrieved checkout link details.\n- **401:** If the store ID is missing or invalid.\n- **404:** If the checkout link does not exist.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the checkout link.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed checkout link data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Checkout link not found."
          }
        }
      },
      "patch": {
        "summary": "Update a checkout link",
        "description": "Update details of a specific checkout link, identified by its ID. Optionally modify `name`, `design`, or `status`. Ensures the link belongs to the store specified by the `x-store-id`.\n\n**Use Case:** Adjust checkout link settings in response to marketing campaigns or design updates.\n\n**Responses:**\n- **200:** Successfully updated checkout link.\n- **401:** If the store ID is missing or invalid.\n- **400:** If no valid fields are provided to update.\n- **404:** If the checkout link does not exist.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the checkout link.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutLinkUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated checkout link data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing update fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Checkout link not found."
          }
        }
      },
      "delete": {
        "summary": "Delete a checkout link",
        "description": "Remove a checkout link identified by its ID, ensuring it belongs to the store specified by the `x-store-id` header.\n\n**Use Case:** Maintain checkout link quality by removing obsolete or incorrect links.\n\n**Responses:**\n- **204:** Deleted successfully with no content.\n- **401:** If the store ID is missing or invalid.\n- **404:** If the checkout link does not exist.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the checkout link.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Checkout link not found."
          }
        }
      }
    },
    "/checkouts": {
      "get": {
        "summary": "List checkout sessions",
        "description": "Retrieve a list of checkout sessions associated with the store, identified through the `x-store-id` header, with optional status filtering.\n\n**Use Case:** Manage active and historical checkout sessions to monitor sales activities and resolve potential issues.\n\n**Responses:**\n- **200:** Successfully retrieved list of checkout sessions.\n- **401:** If the store ID is missing or invalid.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter checkouts by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of checkout sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a Stripe checkout session",
        "description": "Initiate a new Stripe checkout session for a product with various optional configurations, such as `variant_id`, `discount_code`, `affiliate_code`, and more. Requires `product_id` in the request body.\n\n**Use Case:** Streamline and automate the checkout process for products sold under a store account.\n\n**Responses:**\n- **201:** Successfully created checkout session.\n- **401:** If the store ID is missing or invalid.\n- **400:** If required fields are missing or incorrect.\n",
        "tags": [
          "Checkouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created checkout session data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/checkouts/{id}": {
      "get": {
        "summary": "Get checkout session status",
        "description": "Retrieve the status and details of a checkout session from Stripe using its `id`, verifying that it belongs to the store specified by the `x-store-id`.\n\n**Use Case:** Confirm payment status, track session metrics, and integrate with post-checkout workflows.\n\n**Responses:**\n- **200:** Successfully retrieved checkout session data.\n- **401:** If the store ID is missing or invalid.\n- **404:** If the checkout session doesn't exist.\n",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the checkout session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session data from Stripe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Checkout session not found."
          }
        }
      }
    },
    "/customers/{id}/meter-balance": {
      "get": {
        "summary": "Fetch Customer Meter Balance",
        "description": "Retrieve the credit balance per meter for a specific customer identified by their ID. This endpoint returns detailed credit information for each meter linked to the customer, including total and used credits, meter details, and remaining credits. Use this endpoint to manage customer credits and track usage.\n\n**Business Use Case:** Manage and monitor customer subscription credits for various metering units, ensuring accurate tracking and billing.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to retrieve meter balances for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of customer meter balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Retrieve Customer Details",
        "description": "Fetch detailed information about a customer by their ID, including their email, status, orders, and historical data. This endpoint is useful for customer support and data analysis.\n\n**Business Use Case:** Enable comprehensive customer service and personalized marketing strategies by accessing complete customer profiles.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      },
      "patch": {
        "summary": "Update Customer Information",
        "description": "Update details (name, email, status) of a specific customer identified by their ID. Changes are loggable, and a webhook is dispatched on successful update.\n\n**Business Use Case:** Maintain up-to-date customer records to ensure accuracy in communications and reporting.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List all customers",
        "description": "Retrieve a list of customers associated with the store, optionally filtered by email or status. Ensure the store is identified by the `x-store-id` header.\n\n**Business Use Case:** Manage customer relationships and analyze customer data for targeted marketing and customer support.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `email` (string): Filter customers by email.\n- `status` (string): Filter customers by status.\n- `limit` (integer): Number of items per page.\n- `page` (integer): Current page number.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of customers with pagination information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new customer",
        "description": "Add a new customer record to the store's database manually by providing the customer's name and email.\n\n**Business Use Case:** Expand the customer database for the store, allowing for dedicated customer management and personalized services.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `name` (string, optional): The name of the customer.\n- `email` (string, required): The email of the customer.\n\nA webhook event `customer.created` is triggered upon successful creation.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "409": {
            "description": "Conflict: A customer with this email already exists."
          }
        }
      }
    },
    "/disputes": {
      "get": {
        "summary": "List disputes",
        "description": "Retrieve a list of payment disputes associated with the store's connected Stripe account.\n\n**Business Use Case:** Monitor and manage disputes related to the store's transactions to mitigate financial losses and assess dispute handling processes. Limited to a maximum of 100 disputes per request for performance reasons.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `limit` (integer): The maximum number of disputes to return.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of disputes retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request if the store has no connected Stripe account."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/files/{id}/download": {
      "get": {
        "summary": "Generate Pre-signed Download URL",
        "description": "Generates a time-limited pre-signed URL for downloading a file deliverable. Validates store ownership using `x-store-id` and supports expiration control.\n\n**Business Use Case:** Enables secure and controlled access to file downloads, ensuring administrative control over file distribution and user access.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the file to download.\n\n**Query Parameters:**\n- `expires_in` (integer, optional): Time in seconds the URL remains valid, defaulting to 3600, with a cap at 86400.\n\n**Responses:**\n- **200:** Successfully generated a download URL.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated download URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownloadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{id}": {
      "get": {
        "summary": "Retrieve Deliverable Details",
        "description": "Fetches detailed information about a specific file deliverable, verifying store ownership through the `x-store-id` header.\n\n**Business Use Case:** Access detailed metadata about a file for management and analytics purposes.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the file to retrieve.\n\n**Responses:**\n- **200:** Successfully retrieved file details.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved file details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDetailsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Deliverable",
        "description": "Deletes a file deliverable from the store, ensuring ownership through the `x-store-id` header.\n\n**Business Use Case:** Manage and clean up deliverables by removing outdated or unnecessary files.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the file to delete.\n\n**Responses:**\n- **200:** Successfully deleted the file.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfirmation"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "get": {
        "summary": "List Deliverables",
        "description": "Retrieves a list of file deliverables for a store, confirming the store context with `x-store-id`. Supports filtering by `product_id` and `variant_id`.\n\n**Business Use Case:** Overview and manage deliverables tied to various products and variants.\n\n**Query Parameters:**\n- `product_id` (string, optional): Filter by product ID.\n- `variant_id` (string, optional): Filter by variant ID.\n- `limit` (integer, optional): Number of items to retrieve per page.\n\n**Responses:**\n- **200:** A list of deliverables.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of deliverables.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliverableListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Upload a New Deliverable",
        "description": "Uploads a new file deliverable for a product, verifying the product's store ownership through `x-store-id`. Requires a file and product information in the body.\n\n**Business Use Case:** Integrate files as deliverables for products, enhancing offerings with downloadable content.\n\n**Request Body:** Must include a `file`, and can include `product_id`, `variant_id`, `title`, `description`, `button_label`.\n\n**Responses:**\n- **201:** File uploaded successfully.\n",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DeliverableUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliverableDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo-pricing": {
      "get": {
        "summary": "Get Geo-based Pricing Discount",
        "description": "Fetches geographical pricing discount data for a store, using the `x-store-id` and optional `country_code` and `product_id` parameters. Checks parity settings and calculates any applicable discounts.\n\n**Business Use Case:** Adjust pricing based on geographical location to provide region-specific discounts and pricing strategies.\n\n**Query Parameters:**\n- `country_code` (string, optional): Specific country code for targeting pricing.\n- `product_id` (string, optional): The ID of the product for specific parity checks.\n\n**Responses:**\n- **200:** Geo-pricing details retrieved successfully.\n",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geo-pricing details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoPricingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{id}/pdf": {
      "get": {
        "summary": "Generate PDF for Invoice",
        "description": "Generate a PDF for a specific invoice by its ID. This endpoint verifies the store ownership and then retrieves either an order or subscription invoice, constructing a PDF containing detailed billing information. The PDF can be downloaded directly, offering a snapshot of transactional details including customer, product, and payment status.\n\n### Business Use Case\nAdministrators can offer customers official receipts or records of transactions in a downloadable PDF format. This helps in keeping a standardized and printable record for bookkeeping or customer reference.\n\n### Parameters\n- **Path Parameters:**\n  - `id` (string, required): The ID of the invoice to generate the PDF for.\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID for verification.\n\n### Responses\n- **200:** PDF generated and returned.\n- **401:** Unauthorized access.\n- **404:** Invoice not found.\n- **500:** PDF generation failed.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated successfully and streamed.",
            "content": {
              "application/pdf": {}
            }
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "404": {
            "description": "Invoice not found."
          },
          "500": {
            "description": "Internal server error during PDF generation."
          }
        }
      }
    },
    "/invoices/{id}": {
      "get": {
        "summary": "Retrieve Invoice Details",
        "description": "Fetch detailed information about an invoice, whether it pertains to a one-time order or a subscription. The endpoint identifies the nature of the invoice (product order or subscription) and returns comprehensive information including amounts, statuses, and links to PDF versions.\n\n### Business Use Case\nThis is useful for customer service teams wishing to verify invoice details or share payment information with customers directly. Financial teams may also use this for reconciliation purposes.\n\n### Parameters\n- **Path Parameters:**\n  - `id` (string, required): The ID of the invoice to retrieve.\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID for validation.\n\n### Responses\n- **200:** Invoice details retrieved.\n- **401:** Unauthorized access.\n- **404:** Invoice not found.\n- **500:** Internal server error.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "404": {
            "description": "Invoice not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "List Invoices",
        "description": "Retrieve a list of invoices for a store. You can filter the invoices by status, customer ID, and type (product or subscription). This operation supports pagination, allowing the retrieval of invoices in segmented batches.\n\n### Business Use Case\nStore owners or administrators can get a quick view of all invoicing activities, allowing for better management of financial records and quick access to historical transaction data.\n\n### Parameters\n- **Query Parameters:**\n  - `limit` (integer, optional): The maximum number of invoices to return.\n  - `status` (string, optional): Invoice status to filter by.\n  - `customer_id` (string, optional): Filter by customer ID.\n  - `type` (string, optional): Filter by type ('product' or 'subscription').\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID verification.\n\n### Responses\n- **200:** List of invoices retrieved.\n- **401:** Unauthorized access.\n- **500:** Internal server error.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of invoice list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys/{id}/revoke": {
      "post": {
        "summary": "Revoke License Key",
        "description": "Permanently revoke a license key using its ID, ensuring store authenticity. Once revoked, the license key cannot be activated again.\n\n### Business Use Case\nStore administrators can revoke compromised or unnecessary license keys to manage product licensing effectively and prevent unauthorized access.\n\n### Parameters\n- **Path Parameters:**\n  - `id` (string, required): The ID of the license key to revoke.\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID for security verification.\n\n### Responses\n- **200:** License key revoked successfully.\n- **401:** Unauthorized access or missing store context.\n- **404:** License key not found.\n- **400:** Bad request if the key is already revoked.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key successfully revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "License key already revoked."
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "404": {
            "description": "License key not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys/{id}": {
      "get": {
        "summary": "Retrieve License Key Details",
        "description": "Fetch detailed information about a specific license key using its ID, verifying store ownership. This includes the key's status, activation limit, related customer and product data, and order details.\n\n### Business Use Case\nAdministrators can view the complete profile of a license key for troubleshooting or customer support queries, offering insights about its activation history and related transactions.\n\n### Parameters\n- **Path Parameters:**\n  - `id` (string, required): The ID of the license key to retrieve.\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID for verification.\n\n### Responses\n- **200:** License key details retrieved.\n- **401:** Unauthorized access.\n- **404:** License key not found.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key details successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "404": {
            "description": "License key not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "patch": {
        "summary": "Update License Key",
        "description": "Update fields of an existing license key, such as expiration date or activation limit, by its ID. Ensures that changes conform to business rules and store ownership.\n\n### Business Use Case\nAllows managers to extend or reduce license properties, accommodate customer requests, or support updates due to changed licensing agreements.\n\n### Parameters\n- **Path Parameters:**\n  - `id` (string, required): The ID of the license key to update.\n\n- **Headers:**\n  - `x-store-id` (string, required): The store ID for validation.\n\n### Request Body\n- Fields to update: `expires_at`, `activation_limit`, `status`.\n\n### Responses\n- **200:** License key updated successfully.\n- **401:** Unauthorized access.\n- **404:** License key not found.\n- **400:** No updatable fields provided.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetails"
                }
              }
            }
          },
          "400": {
            "description": "No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized: Store context missing."
          },
          "404": {
            "description": "License key not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys/activate": {
      "post": {
        "summary": "Activate a License Key",
        "description": "Activate a license key identified by the provided license key string. This endpoint requires the store ID and checks if the license key is active, not expired, and hasn't reached its activation limit. The number of activations is incremented if all checks pass.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `license_key` (string, required): The license key to activate.\n\n**Responses:**\n- **200:** License key activated successfully with updated activation count.\n- **400:** Key is expired or activation limit reached.\n- **401:** Unauthorized access without store context.\n- **404:** License key not found.\n- **500:** Internal Server Error.",
        "tags": [
          "License Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key activated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseActivationResponse"
                }
              }
            }
          },
          "400": {
            "description": "License key expired or activation limit reached."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "License key not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys/import": {
      "post": {
        "summary": "Import License Keys",
        "description": "Bulk import license keys into the store database. Each key must be associated with a valid product, and the max batch size is 1000 keys per request.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `keys` (array, required): Contains license key data, including `key`, `product_id`, and optional `activation_limit`, `expires_at`, etc.\n\n**Responses:**\n- **200:** Keys imported successfully.\n- **400:** Invalid payload or batch size exceeded.\n- **401:** Unauthorized access.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully imported keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or other client errors."
          },
          "401": {
            "description": "Unauthorized: Missing store context."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys": {
      "get": {
        "summary": "List License Keys",
        "description": "Retrieve a paginated list of license keys associated with the store. You can filter by status, product ID, and order ID.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `limit` (integer, optional): Maximum number of keys to return.\n- `status` (string, optional): Filter by status.\n- `product_id` (string, optional): Filter by product ID.\n- `order_id` (string, optional): Filter by order ID.\n\n**Responses:**\n- **200:** List of license keys retrieved successfully.\n- **401:** Unauthorized access.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License keys retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "post": {
        "summary": "Create License Keys",
        "description": "Generate new license keys for a store product, specifying quantity and activation limits. A dummy order is created to associate with each key.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `product_id` (string, required): The product ID linked to the keys.\n- `customer_id` (string, required): The customer's ID.\n- `quantity` (integer, required): Number of keys to create.\n- `activation_limit` (integer, optional): Limit of activations per key.\n- `expires_at` (string, optional): Expiration date.\n\n**Responses:**\n- **200:** Successfully created license keys.\n- **400:** Invalid input data.\n- **401:** Unauthorized access.\n- **403:** Denied access to product.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License keys created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Client errors, like invalid data."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "403": {
            "description": "Product not found or access denied."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/license-keys/validate": {
      "post": {
        "summary": "Validate a License Key",
        "description": "Check the validity of a license key using its key string. The license must be active, not expired, and within its activation limit.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `license_key` (string, required): License key to validate.\n\n**Responses:**\n- **200:** License key is valid.\n- **400:** License key expired or limit reached.\n- **401:** Unauthorized access.\n- **404:** License key not found.\n- **500:** Internal server error.",
        "tags": [
          "License Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "License key expired or activation limit reached."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "License key not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/meters/{id}": {
      "get": {
        "summary": "Retrieve Meter Details",
        "description": "Fetch detailed information about a specific meter by its ID for a particular store.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the meter to retrieve.\n\n**Responses:**\n- **200:** Meter details successfully retrieved.\n- **401:** Unauthorized access.\n- **404:** Meter not found.\n- **500:** Internal server error.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meter details retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Meter not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "patch": {
        "summary": "Update Meter Information",
        "description": "Update fields of an existing meter, such as name or unit, by its ID, ensuring store ownership and compliance with updatable fields.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the meter to update.\n\n**Request Body:** Specify only fields to be updated like `name`, `unit`.\n\n**Responses:**\n- **200:** Meter updated successfully.\n- **400:** No updatable fields provided.\n- **401:** Unauthorized access.\n- **404:** Meter not found.\n- **500:** Internal server error.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meter updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Meter not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/meters": {
      "get": {
        "summary": "List all meters",
        "description": "Retrieve a paginated list of all meters associated with a store using the `x-store-id`. The endpoint allows filtering based on pagination parameters such as `limit` and `page`. This helps store owners manage their metering systems and track consumption metrics effectively.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of meters successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new meter",
        "description": "Create a new meter for the given store, identified by the `x-store-id`. Required fields include `name`, `event_name`, and `aggregation_type`. This endpoint ensures no duplicate `event_name` exists within the store for accurate metering.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeterCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meter created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid field values."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "409": {
            "description": "Conflict due to existing meter with the same event_name."
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "summary": "List all organizations",
        "description": "Retrieve a list of organizations associated with the store. This endpoint supports pagination, allowing for efficient management and retrieval of organization data.\n\n**Business Use Case:** Store owners can view and manage all organizations within their store context.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `limit` (integer, optional): Number of items per page.\n- `page` (integer, optional): Current page number.\n\n**Responses:**\n- **200:** Successful retrieval of the organization list.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of organization list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new organization",
        "description": "Add a new organization under the store by providing required details like `email`, `organization_name`, and optionally `billing_email`.\n\n**Business Use Case:** Useful for expanding and managing multiple organizations within a store.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `email` (string, required): Email address of the organization.\n- `organization_name` (string, required): Name of the organization.\n\n**Responses:**\n- **201:** Organization created successfully.",
        "tags": [
          "Organizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "summary": "Retrieve organization details",
        "description": "Fetch detailed information about a specific organization using its ID.\n\n**Business Use Case:** Enables comprehensive management and oversight of individual organizations within a store.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization to retrieve.\n\n**Responses:**\n- **200:** Organization details retrieved successfully.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization not found."
          }
        }
      },
      "patch": {
        "summary": "Update organization details",
        "description": "Update information for a specified organization, such as `organization_name` and `billing_email`, using its ID.\n\n**Business Use Case:** Adjust organization information for accurate records and communication.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization to update.\n\n**Request Body:** Specify fields to update.\n\n**Responses:**\n- **200:** Organization updated successfully.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization not found."
          }
        }
      },
      "delete": {
        "summary": "Delete organization",
        "description": "Remove an organization from the store by marking it as archived or permanently deleting it if possible.\n\n**Business Use Case:** Manage the lifecycle of organizations, removing those no longer relevant to the store's operations.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization to delete.\n\n**Responses:**\n- **204:** Organization deleted successfully.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted successfully."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization not found."
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "summary": "List organization members",
        "description": "Retrieve a list of all members associated with a specific organization by its ID.\n\n**Business Use Case:** Enables management of team members in each organization.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization whose members are to be retrieved.\n\n**Responses:**\n- **200:** Successfully retrieved members list.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved members list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization not found."
          }
        }
      },
      "post": {
        "summary": "Add organization member",
        "description": "Add a member to an organization by assigning a seat using `seat_id` and `email`.\n\n**Business Use Case:** Extend team capabilities by adding new members to an organization.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization.\n\n**Request Body:**\n- `seat_id` (string, required): The seat ID to assign.\n- `email` (string, required): Email of the member to add.\n\n**Responses:**\n- **200:** Member added successfully.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid input data."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization or seat not found."
          }
        }
      }
    },
    "/organizations/{id}/members/{member_id}": {
      "delete": {
        "summary": "Remove organization member",
        "description": "Remove a member from an organization, vacating their assigned seat.\n\n**Business Use Case:** Free up seats and manage team composition by removing members.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the organization.\n- `member_id` (string, required): The ID of the member to remove.\n\n**Responses:**\n- **200:** Member removed successfully.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Organization or member not found."
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Retrieve Product Details",
        "description": "Fetch detailed information about a specific product, including variants and deliverables. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Helps store administrators or customers view product information and associated data such as variants and deliverables.\n\n**Parameters:**\n- `id` (string, required): The ID of the product to retrieve.\n\n**Responses:**\n- **200:** Product details successfully retrieved.\n- **401:** Unauthorized access.\n- **404:** Product not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Product not found."
          }
        }
      },
      "patch": {
        "summary": "Update Product",
        "description": "Update specific fields of a product. Necessary fields such as `name`, `description`, `price` etc., can be updated, provided in the request body. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Allows store administrators to keep product information current and make changes based on marketing or inventory requirements.\n\n**Parameters:**\n- `id` (string, required): The ID of the product to update.\n\n**Request Body:** Provide fields to be updated.\n\n**Responses:**\n- **200:** Product updated successfully.\n- **400:** No updatable fields provided.\n- **401:** Unauthorized access.\n- **404:** Product not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing update fields."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Product not found."
          }
        }
      },
      "delete": {
        "summary": "Archive Product",
        "description": "Archive a product by setting its status to 'archived'. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Remove products from active listings without deleting them permanently so they can be restored if needed.\n\n**Parameters:**\n- `id` (string, required): The ID of the product to archive.\n\n**Responses:**\n- **200:** Product archived successfully.\n- **401:** Unauthorized access.\n- **404:** Product not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product archived successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfirmation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Product not found."
          }
        }
      }
    },
    "/products/{id}/variants/{variantId}": {
      "get": {
        "summary": "Retrieve Product Variant",
        "description": "Fetch details of a specific product variant including its deliverables. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Useful for customers and administrators to learn about variant specifics and any related downloadable content.\n\n**Parameters:**\n- `id` (string, required): The ID of the product.\n- `variantId` (string, required): The ID of the variant to retrieve.\n\n**Responses:**\n- **200:** Variant details retrieved successfully.\n- **401:** Unauthorized access.\n- **404:** Variant not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant details successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Variant not found."
          }
        }
      },
      "patch": {
        "summary": "Update Product Variant",
        "description": "Update fields of a product variant like `name`, `description`, `price`, etc. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Keep variant information updated, whether for pricing strategy or product enhancement.\n\n**Parameters:**\n- `id` (string, required): The ID of the product.\n- `variantId` (string, required): The ID of the variant to update.\n\n**Request Body:** Fields to update.\n\n**Responses:**\n- **200:** Variant updated successfully.\n- **400:** No updatable fields provided.\n- **401:** Unauthorized access.\n- **404:** Variant not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variant updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing update fields."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Variant not found."
          }
        }
      },
      "delete": {
        "summary": "Delete Product Variant",
        "description": "Delete a specific product variant. Requires store validation through the `x-store-id` header.\n\n**Business Use Case:** Remove outdated or invalid variants to simplify product listings and management.\n\n**Parameters:**\n- `id` (string, required): The ID of the product.\n- `variantId` (string, required): The ID of the variant to delete.\n\n**Responses:**\n- **200:** Variant deleted successfully.\n- **401:** Unauthorized access.\n- **404:** Variant not found.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfirmation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Variant not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "AbandonedCartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "AbandonedCartTriggerRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string",
            "description": "The ID of the abandoned cart to send a recovery email for."
          }
        },
        "required": [
          "cart_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "affiliate": {
[...]
