{
  "openapi": "3.0.0",
  "info": {
    "title": "Blink API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Retrieve Store Balance",
        "description": "Fetch the current Blink balance for a store, using the `x-store-id` header for authentication. The response includes available and pending amounts, and the mode (live/test) of the Blink account.",
        "responses": {
          "200": {
            "description": "The Blink account balance information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreBalance"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkout-links": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "List custom checkout links",
        "description": "Retrieve a paginated list of all custom checkout links for the store.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store requesting the checkout links.\n\n- **Query Parameters:**\n  - `limit` (integer, optional): Number of items per page.\n  - `page` (integer, optional): Page number to retrieve.\n  - `status` (string, optional): Filter by status of checkout links.\n\n- **Response:** A paginated list of checkout links including metadata.\n\nUseful for managing and tracking customized checkout experiences.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by status of checkout links."
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout links retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinksList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Create a new checkout link",
        "description": "Creates a new custom checkout link for a product.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store making the request.\n\n- **Request Body:**\n  - `name` (string, required): Name of the checkout link.\n  - `design` (object, optional): Design details for the checkout.\n  - `status` (string, optional): Status of the checkout (default: active).\n\n- **Response:** The newly created checkout link.\n\nEnables customers to have specialized checkout processes tailored to certain products or promotions.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout link created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkout-links/{id}": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Retrieve a custom checkout link",
        "description": "Fetches details of a specific custom checkout link by its ID.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store requesting the information.\n\n- **Path Parameters:**\n  - `id` (string, required): ID of the checkout link.\n\n- **Response:** Detailed information about the checkout link.\n\nAllows store owners to examine and verify individual custom checkout configurations.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the checkout link."
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout link details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          },
          "404": {
            "description": "Checkout Link not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Update a custom checkout link",
        "description": "Updates the details of an existing custom checkout link.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store performing the update.\n\n- **Path Parameters:**\n  - `id` (string, required): ID of the checkout link.\n\n- **Request Body:**\n  - `name` (string, optional): New name for the checkout link.\n  - `design` (object, optional): Updated design details.\n  - `status` (string, optional): New status for the checkout link.\n\n- **Response:** The updated checkout link details.\n\nEnables store managers to modify checkout experiences for better customer engagement.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the checkout link."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCheckoutLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout link updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLinkDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid fields provided for update."
          },
          "404": {
            "description": "Checkout Link not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Delete a custom checkout link",
        "description": "Deletes an existing checkout link by ID, removing it from the store's records.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store making the deletion request.\n\n- **Path Parameters:**\n  - `id` (string, required): ID of the checkout link.\n\n- **Response:** Confirmation of the deletion status.\n\nEnsures old or unused checkouts are removed to keep the store's checkout processes streamlined and efficient.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the checkout link."
          }
        ],
        "responses": {
          "204": {
            "description": "Checkout link deleted successfully. No content returned."
          },
          "404": {
            "description": "Checkout Link not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkouts": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "List checkout sessions",
        "description": "Retrieve a paginated list of all checkout sessions for the store.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store making the request.\n\n- **Query Parameters:**\n  - `limit` (integer, optional): Number of items per page.\n  - `page` (integer, optional): Page number to retrieve.\n  - `status` (string, optional): Filter by session status.\n\n- **Response:** A paginated list of checkout sessions with transaction details.\n\nHelps in monitoring and analyzing checkout performance and customer behavior.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by checkout session status."
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout sessions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionsList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Create a checkout session",
        "description": "Initializes a new Blink checkout session and provides the checkout URL.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store creating the checkout.\n\n- **Request Body:**\n  - `product_id` (string, required): Identifier of the product to checkout.\n  - `variant_id` (string, optional): Variant identifier if applicable.\n  - `customer_email` (string, optional): Customer's email address.\n  - ... (other checkout configurations)\n\n- **Response:** A Blink checkout session object including the checkout URL.\n\nFacilitates smooth customer transactions with Blink for easy payment processing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkouts/{id}": {
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Retrieve a checkout session",
        "description": "Fetches information of a checkout session by its ID, including payment status.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The store ID owning the checkout session.\n\n- **Path Parameters:**\n  - `id` (string, required): Identifier of the checkout session.\n\n- **Response:** Details about the checkout session such as status, amount, and customer information.\n\nUseful for verifying the result of a customer's purchase and providing relevant order tracking details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the checkout session."
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionDetails"
                }
              }
            }
          },
          "404": {
            "description": "Checkout session not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/meter-balance": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve Customer Meter Balance",
        "description": "This endpoint fetches the credit balance per meter for a specific customer. The `x-store-id` header is required for authentication to verify the customer's association with the store. The response includes detailed information about each meter, such as the meter ID, meter name, and the remaining credits available for usage.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n\n- **Responses:**\n  - `200`: Returns a list with customer's remaining credits per meter.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found if the customer ID does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer meter balance retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeterBalance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve Customer Orders",
        "description": "Fetches a paginated list of orders associated with a specific customer. The `x-store-id` header authenticates the store making the request. Useful for tracking a customer's purchase history with order details including the product and variant information.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n  - Query parameters for pagination: `limit` (integer), `page` (integer), `offset` (integer)\n\n- **Responses:**\n  - `200`: A paginated list of the customer's orders.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found if the customer ID does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer orders retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrdersList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/portal-session": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer Portal Session",
        "description": "Generates a 15-minute magic link that allows a buyer to log into the customer portal where they can view their orders. This endpoint verifies the customer via `x-store-id`. The JWT token embedded in the portal link ensures secure access.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n\n- **Responses:**\n  - `201`: Successfully created portal session.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          }
        ],
        "responses": {
          "201": {
            "description": "Customer portal session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "get": {
        "summary": "Generate Portal Session Link",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve Customer Details",
        "description": "This endpoint retrieves detailed information about a specific customer. It includes customer metadata, total orders, and lifetime revenue. Ensure the customer belongs to the store via `x-store-id`.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n\n- **Responses:**\n  - `200`: Customer details returned successfully.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Customer Information",
        "description": "This endpoint updates the customer's name, email, or status. Only specified fields are updated. Ensure store ownership using the `x-store-id` header.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n\n- **Request Body:**\n  - Optional fields to update: `name`, `email`, `status`\n\n- **Responses:**\n  - `200`: Customer information updated successfully.\n  - `400`: No updatable fields provided.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer information updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/subscriptions": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve Customer Subscriptions",
        "description": "Fetches a list of subscriptions associated with a customer. Ensure the `x-store-id` header is provided to authorize the request. The response includes subscription details like product information, status, and period end dates.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the customer.\n\n- **Responses:**\n  - `200`: Customer subscriptions fetched successfully.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Customer not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Customer not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List Customers",
        "description": "Retrieve a paginated list of all customers linked to a store identified by `x-store-id`. Allows filtering by `email` and `status` with pagination capabilities such as `limit`, `page`, and `offset`. Returns a list of customer details, including their name, email, and status.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter customers by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter customers by email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a Customer",
        "description": "Create a new customer record manually for a store identified by `x-store-id`. Requires `email` and optionally `name` in the request body. This endpoint checks for existing customers with the same email and returns a conflict if found. On successful creation, it returns the customer data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A customer with this email already exists."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "List Disputes",
        "description": "Retrieve a list of all disputes associated with a store's connected Blink account, verified via `x-store-id`. Supports limiting the number of disputes returned. Returns dispute data, including status and amounts involved.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of disputes to retrieve.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputesListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files/{id}/download": {
      "get": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Download file via pre-signed URL",
        "description": "Generate a pre-signed URL to download a file from the store's storage on Cloudflare R2. The endpoint validates that the file exists and belongs to the store using the `x-store-id` header. You may specify the `expires_in` query parameter to control the URL's validity period, up to a maximum of 24 hours.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the file deliverable."
          },
          {
            "name": "expires_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Time in seconds for URL to remain valid, maximum 86400 seconds (24 hours)."
          }
        ],
        "responses": {
          "200": {
            "description": "URL to access the file provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownloadResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files/{id}": {
      "get": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Retrieve file details",
        "description": "Fetch detailed information about a specific file deliverable, ensuring that it belongs to the store by verifying the `x-store-id` header. Returns metadata such as title, description, and associated product details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the file deliverable."
          }
        ],
        "responses": {
          "200": {
            "description": "File details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Delete a file deliverable",
        "description": "Delete a file from the store's records. The endpoint checks if the file exists and is associated with the store using the `x-store-id` header before deletion.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the file deliverable."
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files": {
      "get": {
        "tags": [
          "Deliverables"
        ],
        "summary": "List all files",
        "description": "Retrieve a list of all files associated with a store. Supports filtering by product and variant IDs, along with pagination via the `limit` parameter.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of files to retrieve, default is 50, maximum is 100."
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter files by the associated product ID."
          },
          {
            "name": "variant_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter files by the associated variant ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Upload File",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/license-keys/{id}/revoke": {
      "post": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Revoke a license key",
        "description": "Permanently disable a specific license key, ensuring it belongs to the store. Checks the key's current status and updates it to 'revoked'. If the key is already revoked, a bad request error is returned.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the license key to be revoked."
          }
        ],
        "responses": {
          "200": {
            "description": "License key revoked successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/{id}": {
      "get": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Retrieve License Key Details",
        "description": "This endpoint fetches detailed information about a specific license key using the provided `id` path parameter. The request requires verification via the `x-store-id` header to ensure that the key is associated with the correct store. It returns detailed information including the key status, product details, customer information, and associated order data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the license key."
          }
        ],
        "responses": {
          "200": {
            "description": "License key details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "License key not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Update License Key",
        "description": "This endpoint updates the details of an existing license key identified by its `id`. It allows changing the `expires_at`, `activation_limit`, or `status`. The update operation is restricted to only allowed fields. Ensure store ownership using the `x-store-id` header.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the license key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLicenseKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "License key not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/activate": {
      "post": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Activate a License Key",
        "description": "Activates a specified license key by incrementing its activation count. Requires `license_key` in the request body. The `x-store-id` header must be provided to ensure store association. Validates the activation limit and expiration before processing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateLicenseKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key activated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyActivationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid license key or activation conditions not met."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "License key not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys": {
      "get": {
        "tags": [
          "Deliverables"
        ],
        "summary": "List License Keys",
        "description": "Retrieve a paginated list of all license keys associated with a store, verified via the `x-store-id` header. Allows filtering by `status`, `product_id`, and `order_id`. Utilizes pagination using `limit` query parameter.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of keys to retrieve, up to a maximum of 100."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by the status of license keys."
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by product ID."
          },
          {
            "name": "order_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by order ID."
          }
        ],
        "responses": {
          "200": {
            "description": "License keys retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeysList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Generate License Key",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/license-keys/validate": {
      "post": {
        "tags": [
          "Deliverables"
        ],
        "summary": "Validate a License Key",
        "description": "Validates a license key by checking its status, expiration, and activation limits. Requires `license_key` in the request body. The `x-store-id` header must be provided to ensure the key belongs to the store.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateLicenseKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key validated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid license key or validation conditions not met."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "License key not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/meters/{id}": {
      "get": {
        "tags": [
          "Meters"
        ],
        "summary": "Retrieve Meter Details",
        "description": "This endpoint retrieves detailed information about a specific meter using the `id` path parameter. Requires the `x-store-id` header to ensure store association. Returns meter details including name and unit.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the meter."
          }
        ],
        "responses": {
          "200": {
            "description": "Meter details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Meter not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Meters"
        ],
        "summary": "Update Meter Details",
        "description": "This endpoint updates the details of an existing meter. Only `name` and `unit` fields can be updated. The `x-store-id` header is required to ensure store association.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the meter."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMeterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meter details updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Meter not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/meters": {
      "get": {
        "tags": [
          "Meters"
        ],
        "summary": "List all meters",
        "description": "This endpoint lists all meters associated with a store identified by the `x-store-id` header. It supports pagination with `limit`, `page`, and `offset` query parameters. The response includes details such as meter name, event name, aggregation type, unit, and timestamps. This is useful for efficiently managing and analyzing data flow or consumption in specific store processes.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of meters per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset to start paginating from."
          }
        ],
        "responses": {
          "200": {
            "description": "List of meters with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetersList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Meters"
        ],
        "summary": "Create a new meter",
        "description": "This endpoint creates a new meter for a store identified by the `x-store-id` header. The request body must include `name`, `event_name`, `aggregation_type`, and an optional `unit`. The `aggregation_type` must be one of `sum`, `count`, `max`, or `latest`. The endpoint ensures that the `event_name` is unique within the store. If successful, it returns the created meter details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meter created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation errors."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "409": {
            "description": "Conflict - A meter with this event_name already exists."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/orders/{id}/refund": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Refund an order",
        "description": "This endpoint issues a refund for a specific order identified by `id`. The `x-store-id` header must be provided for authentication. Optionally, a `reason` and `amount` (for partial refunds) can be specified in the request body. On success, the refund ID and details are returned. An order must have an associated payment intent and must not already be refunded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the order to refund.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order refunded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Refund conditions not met."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Order not found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List all orders",
        "description": "This endpoint retrieves a paginated list of all orders for a store identified by `x-store-id`. Filtering is supported by `status`, `customer_id`, and `product_id`. Orders include full details for customer, products, and calculated fields such as amounts and taxes.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum number of orders to return."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter orders by status."
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter orders by customer ID."
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter orders by product ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve order details",
        "description": "This endpoint retrieves detailed information about a specific order by its `id`. The `x-store-id` header is needed for authentication. The response includes order status, amounts, taxes, items, and linked customer and product details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the order to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Order not found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization members",
        "description": "Retrieve members of a specific organization by organization ID. The endpoint checks if the organization belongs to the store by using the `x-store-id` header for authentication. It fetches members' details including seat status, assigned emails, and creation dates.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the organization.\n\n- **Responses:**\n  - `200`: Returns member details including subscription details.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Organization not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Organization not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Add an organization member",
        "description": "Assign a seat to a new member in a specified organization. Requires `seat_id` and `email` in the request body. The endpoint verifies that the organization and seat belong to the store by checking the `x-store-id` header.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the organization.\n\n- **Request Body:**\n  - `seat_id`: Unique identifier of the seat.\n  - `email`: Email address of the member to assign.\n\n- **Responses:**\n  - `200`: Successfully assigned a seat to a member.\n  - `400`: Bad request if required fields are missing.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Either organization or seat not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrganizationMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seat assigned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing seat_id or email."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Organization or seat not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Retrieve organization details",
        "description": "Fetch detailed information about a specific organization using its ID. The request uses the `x-store-id` header to verify the organization's association with the store. Returns the organization's name, billing email, and other metadata.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the organization.\n\n- **Responses:**\n  - `200`: Organization details retrieved successfully.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Organization not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Organization not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update organization details",
        "description": "Update the organization's name and billing email using its ID. Requires the `x-store-id` header for authentication. The organization must belong to the store.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the organization.\n\n- **Request Body:**\n  - `organization_name`: New name for the organization.\n  - `billing_email`: New billing email for the organization.\n\n- **Responses:**\n  - `200`: Organization details updated successfully.\n  - `401`: Unauthorized if `x-store-id` is not provided.\n  - `404`: Organization not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Organization not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Delete an organization by its ID. Ensure the organization belongs to the store by checking the `x-store-id` header.\n\n- **Parameters:**\n  - `id` (string, path, required): The ID of the organization.\n\n- **Responses:**\n  - `204`: Organization deleted successfully. No content returned.\n  - `401`: Unauthorized if `x-store-id` is not provided.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization"
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted successfully. No content returned."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List all organizations",
        "description": "Retrieve a paginated list of all organizations associated with a store. The endpoint uses the `x-store-id` header for store verification. Supports pagination through `limit`, `page`, and `offset` query parameters.\n\n- **Query Parameters:**\n  - `limit` (integer, optional): Number of items per page.\n  - `page` (integer, optional): Page number to retrieve.\n\n- **Responses:**\n  - `200`: Returns a list of organizations with pagination metadata.\n  - `401`: Unauthorized if `x-store-id` is not provided.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create a new organization",
        "description": "Create a new organization within the store by providing required fields such as `email` and `organization_name` in the request body. The request should include the `x-store-id` header for association with the store.\n\n- **Request Body:**\n  - `email`: Email address of the organization.\n  - `organization_name`: Name of the organization.\n  - `billing_email` (optional): Billing email for the organization.\n\n- **Responses:**\n  - `201`: Organization created successfully.\n  - `400`: Bad request if required fields are missing.\n  - `401`: Unauthorized if `x-store-id` is not provided.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Required fields missing."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "List payouts",
        "description": "Retrieve a list of payouts for the store's connected Blink account. The `x-store-id` header is used to verify store association and ensure a connected Blink account exists.\n\n- **Query Parameters:**\n  - `limit` (integer, optional): Number of payouts to return.\n\n- **Responses:**\n  - `200`: Payouts retrieved successfully.\n  - `400`: Store has no connected Blink account.\n  - `401`: Unauthorized if `x-store-id` is not provided.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of payouts to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Payouts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutsList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No Blink account connected."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/portal/sessions": {
      "post": {
        "tags": [
          "Portal"
        ],
        "summary": "Create a customer session",
        "description": "This endpoint creates a new customer session for portal access. After calling this endpoint, a token is returned which can be used for subsequent portal API requests. The session provides secure access to customer-specific features.",
        "responses": {
          "200": {
            "description": "Customer session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/portal/subscriptions": {
      "get": {
        "tags": [
          "Portal"
        ],
        "summary": "List customer's subscriptions",
        "description": "This endpoint retrieves a list of subscriptions linked to the authenticated customer. It requires a valid bearer token to be provided in the `Authorization` header to verify the customer's identity. The response provides details on each subscription to allow customers to manage their products.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Customer's subscriptions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Customer token required."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve single product with variants and deliverables",
        "description": "This endpoint retrieves detailed information about a specific product, including its variants and deliverables. It uses the `x-store-id` header to authenticate the request and ensure store association. The response includes various product attributes and metadata for better catalog management.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Product not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update product details",
        "description": "This endpoint updates the details of an existing product identified by its `id`. Only specific fields such as `name`, `description`, `price`, and `status` can be updated. It requires the `x-store-id` header for authorization and returns the updated product data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product details updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Product not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Archive a product",
        "description": "This endpoint archives a product by setting its status to 'archived'. It requires the `x-store-id` header to verify ownership. Used for keeping the product catalog organized by removing outdated products.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product to archive."
          }
        ],
        "responses": {
          "200": {
            "description": "Product archived successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Product not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/products/{id}/variants": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List product variants",
        "description": "This endpoint retrieves a list of all variants associated with a specified product. It ensures store association by requiring the `x-store-id` header. The response includes detailed information on each variant, aiding efficient product management.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product to retrieve variants for."
          }
        ],
        "responses": {
          "200": {
            "description": "List of product variants retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Product not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product variant",
        "description": "This endpoint creates a new variant for a specified product. It requires the `x-store-id` header for authorization, and attributes such as `name` and `price` must be provided in the request body. The endpoint supports adding options like subscription intervals.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product to create a variant for."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductVariantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product variant created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Name or Price missing."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Product not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/products/{id}/variants/{variantId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve product variant details",
        "description": "This endpoint fetches detailed information about a specific variant of a product. It is essential to provide the `x-store-id` header for authentication and to ensure the variant is associated with an existing product. The response includes complete variant details for further actions or display.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product."
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the variant to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Variant details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Variant not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update product variant details",
        "description": "This endpoint updates the information of an existing product variant. Allowed fields include `name`, `description`, `price`, and `is_active`. Proper authentication is ensured with the `x-store-id` header and it supports updating only fields that are provided in the request body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product."
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the variant to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductVariantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variant details updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Variant not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete a product variant",
        "description": "This endpoint deletes a specified variant of a product. Authentication is verified using the `x-store-id` header. Useful for removing discontinued variants to keep product offerings clear and current.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product."
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the variant to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Variant deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "404": {
            "description": "Variant not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List all products",
        "description": "Retrieve a paginated list of products for the store identified by `x-store-id`. Supports filtering by `status` and `pricing_model`, as well as pagination using `limit`, `page`, and `offset`. Returns detailed product information including variants and images.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter products by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pricing_model",
            "in": "query",
            "description": "Filter products by pricing model.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of products to return."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "List of products retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product",
        "description": "Creates a new product within the store identified by `x-store-id`. Requires `name`, `pricing_model`, and `price` in the request body. Optionally includes description and other attributes. Valid pricing models are `one_time`, `subscription`, `pay_what_you_want`, and `tiered`. Ensures the new product is not archived.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Required fields missing or invalid."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "409": {
            "description": "Conflict - Product with similar attributes already exists."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations/{id}/members/{member_id}": {
      "delete": {
        "summary": "Remove an Organization Member",
        "description": "Revokes a member's seat in the organization and removes them.",
        "operationId": "removeOrganizationMember",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the organization"
          },
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member to remove"
          }
        ],
        "responses": {
          "200": {
            "description": "Member revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "patch": {
        "summary": "Update a Subscription",
        "description": "Updates a subscription. Can be used to cancel, resume, or swap plans.",
        "operationId": "updateSubscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the subscription"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "cancel",
                      "cancel_immediately",
                      "resume",
                      "swap"
                    ],
                    "description": "The action to perform on the subscription."
                  },
                  "variant_id": {
                    "type": "string",
                    "description": "The ID of the target variant (required if action is swap, unless product_id is provided)."
                  },
                  "product_id": {
                    "type": "string",
                    "description": "The ID of the target product (required if action is swap, unless variant_id is provided)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "cancel_at_period_end": {
                          "type": "boolean"
                        },
                        "current_period_end": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}/preview-swap": {
      "get": {
        "summary": "Preview Subscription Swap",
        "description": "Calculates the prorated cost of swapping an active subscription to a new product or variant.",
        "operationId": "previewSubscriptionSwap",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the subscription"
          },
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The target variant ID for the swap."
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The target product ID for the swap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully calculated proration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount_due": {
                          "type": "integer",
                          "description": "The total prorated amount due in cents."
                        },
                        "subtotal": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "prorations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "integer"
                              },
                              "description": {
                                "type": "string"
                              },
                              "period": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Preview Subscription Swap",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Retrieves a list of all subscriptions for a given store. Supports filtering by status, customer ID, and product ID. Includes pagination.\n\n**Business Use-case:** Useful for managing and analyzing all active and past subscriptions.\n\n**Query Parameters:**\n- `x-store-id`: Store identifier (header, required).\n- `limit`: Limit the number of subscriptions retrieved.\n- `status`: Filter by subscription status.\n- `customer_id`: Filter by customer ID.\n- `product_id`: Filter by product ID.\n\n**Responses:**\n- `200`: Subscriptions retrieved successfully.\n- `401`: Unauthorized if `x-store-id` is missing.",
        "parameters": [
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create Subscription",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Retrieve subscription details",
        "description": "Fetches detailed information about a specific subscription. Includes product and variant details associated with the subscription.\n\n**Business Use-case:** Useful for understanding customer subscriptions and managing their lifecycle.\n\n**Path Parameters:**\n- `id`: Subscription ID (path parameter, required).\n\n**Responses:**\n- `200`: Subscription details retrieved successfully.\n- `401`: Unauthorized if `x-store-id` is missing.\n- `404`: Not Found if the subscription does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update subscription status",
        "description": "Updates the status of a subscription, allowing actions such as cancelation, immediate cancelation, or resumption.\n\n**Business Use-case:** Useful for managing the lifecycle of subscriptions, including cancelation and resumption.\n\n**Path Parameters:**\n- `id`: Subscription ID (path parameter, required).\n\n**Request Body:**\n- `action`: The action to perform on the subscription (required: `cancel`, `cancel_immediately`, or `resume`).\n\n**Responses:**\n- `200`: Subscription updated successfully.\n- `400`: Bad request if action is invalid.\n- `401`: Unauthorized if `x-store-id` is missing.\n- `404`: Not Found if the subscription does not exist.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-store-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/meters/ingest": {
      "post": {
        "summary": "Ingest Meter Usage",
        "description": "Report usage for a specific meter to deduct credits from a customer's balance. You must provide `event_name` and `quantity`, along with one of `customer_id`, `customer_email`, or `subscription_id`.",
        "tags": [
          "Meters"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_name",
                  "quantity"
                ],
                "properties": {
                  "event_name": {
                    "type": "string",
                    "description": "The name of the meter event to ingest."
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "The amount of usage to record/deduct."
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "The ID of the customer. Optional if email or subscription_id is provided."
                  },
                  "customer_email": {
                    "type": "string",
                    "description": "The email of the customer. Optional if customer_id or subscription_id is provided."
                  },
                  "subscription_id": {
                    "type": "string",
                    "description": "The ID of the subscription. Optional if customer_id or email is provided."
                  },
                  "action": {
                    "type": "string",
                    "default": "increment",
                    "description": "The action to take."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the usage occurred."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "A unique key to prevent duplicate usage ingestion."
                  }
[...]
