{
  "openapi": "3.0.0",
  "info": {
    "title": "Growth API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/abandoned-carts/{id}/recover": {
      "post": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Recover an Abandoned Cart",
        "description": "This endpoint triggers a recovery email for an abandoned cart specified by the `id` path parameter. It verifies the cart belongs to the store using the `x-store-id` header. If the cart has already been recovered, it returns an error. Otherwise, it generates a recovery URL and sends a recovery email. The recovery email attempts are incremented regardless of email success.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the abandoned cart.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Recovery email successfully triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartRecoveryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/abandoned-carts/{id}": {
      "get": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Retrieve an Abandoned Cart",
        "description": "Fetches detailed information for a specific abandoned cart identified by the `id` path parameter using `x-store-id` for authentication. Returns relevant cart and product information associated with the abandoned cart.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the abandoned cart.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abandoned cart details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCart"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/abandoned-carts": {
      "get": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "List Abandoned Carts",
        "description": "Retrieves a paginated list of all abandoned carts for the store identified by the `x-store-id` header. Allows filtering by `status` and `product_id`. Utilizes pagination using `limit`, `page`, and `offset` query parameters.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter carts by status (`open`, `recovered`, `expired`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "Filter carts by product ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of abandoned carts with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartsList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/abandoned-carts/trigger": {
      "post": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "Trigger Recovery Email for Abandoned Cart",
        "description": "Manually triggers a recovery email for the abandoned cart identified by the `cart_id` in the request body. Uses `x-store-id` for authentication and increments recovery email attempts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerRecoveryEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery email triggered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/{id}/conversions": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Get Affiliate Conversions",
        "description": "Retrieves a paginated list of orders attributed to a specific affiliate, specified by the `id` path parameter, ensuring the affiliate is part of the store using the `x-store-id` header. Uses pagination with `limit`, `page`, and `offset` query parameters.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the affiliate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of affiliate conversions with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateConversions"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/{id}": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Retrieve Affiliate Details",
        "description": "This endpoint fetches detailed information about a specific affiliate identified by the `id` path parameter. It ensures the affiliation with the store using the `x-store-id` header. This includes affiliate profiles and conversion statistics such as the number of conversions, total revenue, and commissions. It returns 404 if the affiliate is not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the affiliate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliate details including conversion statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Update Affiliate Status",
        "description": "This endpoint updates the status of an existing affiliate. You can change the status field using the request body. The update is restricted to only allowed fields. It ensures the affiliate membership with the store using the `x-store-id` header.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the affiliate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/invite": {
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Invite Affiliate via Email",
        "description": "This endpoint allows you to send an invitation to a potential affiliate via email to join the store's affiliate program. The `x-store-id` header is used for verification. You must provide an email in the request body. It constructs an invitation link based on the store's domain settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteAffiliateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation email sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/links": {
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Generate Tracking Link",
        "description": "This endpoint enables the creation of custom tracking links for an affiliate membership. It requires the `membership_id` and `code` in the request body and verifies the ownership of the membership with the store using the `x-store-id` header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTrackingLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tracking link created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingLink"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "get": {
        "summary": "List Tracking Links",
        "description": "Automatically added via API validation audit.",
        "tags": [
          "Affiliates"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/affiliates": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "summary": "List Affiliates",
        "description": "This endpoint retrieves a paginated list of all affiliates associated with the store. Pagination can be controlled via `limit`, `page`, and `offset` query parameters, and results can be filtered by `status`. The `x-store-id` is required for authentication.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter affiliates by status.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of affiliates with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatesList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Affiliates"
        ],
        "summary": "Update Affiliate Membership Status",
        "description": "This endpoint allows you to approve, reject, or ban an affiliate by updating their membership status. You need to supply the `membership_id` and desired `action` in the request body. The `x-store-id` header is used for verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliateMembershipStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate membership status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/{id}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Retrieve Audience Member",
        "description": "This endpoint retrieves detailed information about a specific audience member. The request is authenticated based on the `x-store-id` header. It returns audience member details like name, email, status, total orders, and lifetime revenue.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the audience member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience member details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceMember"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Update Audience Member",
        "description": "This endpoint updates the details of an existing audience member. Fields that can be updated include `name` and `status`. The `x-store-id` header is utilized for authentication purposes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the audience member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience member updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceMember"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Unsubscribe Audience Member",
        "description": "This endpoint marks an audience member as unsubscribed (soft delete), which removes their subscription status but keeps their order data. The `x-store-id` header is required for authentication.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the audience member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience member unsubscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeAudienceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/broadcasts": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "List Broadcasts",
        "description": "Retrieve a paginated list of email broadcasts sent to the audience of a specific store, identified by the `x-store-id` header. Supports pagination with `limit`, `page`, and `offset` query parameters, as well as filtering by `status`.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter broadcasts by status (`draft`, `scheduled`, `sent`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of broadcasts along with pagination metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Send Broadcast Email",
        "description": "Send a broadcast email to a selected audience of the store identified by `x-store-id`. Requires `name`, `subject`, `html`, and `recipients_type` in the request body. The recipients can be all subscribers or repeat customers, with detailed sender configurations required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast email successfully sent and recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "List Audience Contacts",
        "description": "Fetch a paginated list of customers who have opted into marketing communications from the store, using the `x-store-id` header for verification. Supports filtering by `status` and `email` with pagination via `limit`, `page`, and `offset` query parameters.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter contacts by status (e.g., `active`, `unsubscribed`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter contacts by email pattern.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of audience contacts with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceContactsList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/tags": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "List Customers by Tag",
        "description": "Retrieve a list of customers associated with a specific tag in their metadata. Requires `tag` query parameter. Authentication is done using the `x-store-id` header.",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Tag to filter customers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers with the specified tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaggedCustomersList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Add Tag to Customer",
        "description": "Add a specified tag to a customer's metadata within the store, identified via `x-store-id`. Requires `customer_id` and `tag` in the request body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag successfully added to the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagUpdateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Remove Tag from Customer",
        "description": "Remove a specified tag from a customer's metadata within the store. Requires `customer_id` and `tag` in the request body, and is authenticated via the `x-store-id` header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag successfully removed from the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagUpdateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/bumps/{id}": {
      "get": {
        "tags": [
          "Bumps"
        ],
        "summary": "Retrieve Bump Details",
        "description": "Fetch detailed information of a bump by its `id`, which is part of the specified store, verified by `x-store-id`. Includes bump metadata and associated deliverables.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the bump.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bump details including associated deliverables.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Bumps"
        ],
        "summary": "Update Bump Details",
        "description": "Update details of a bump, including `title`, `description`, `price`, `badge_title`, and `badge_color`. Uses `x-store-id` for store ownership verification.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the bump.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBumpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bump updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Bumps"
        ],
        "summary": "Delete Bump",
        "description": "Delete a bump by its `id`, ensuring store ownership with `x-store-id`. This effectively removes the bump from store records.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the bump.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bump deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBumpResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/bumps": {
      "get": {
        "tags": [
          "Bumps"
        ],
        "summary": "List all bumps",
        "description": "Retrieve a paginated list of all bumps created in the store. A bump typically represents an add-on or upsell associated with a product. Use query parameters for pagination.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store making the request.\n\n- **Query Parameters:**\n  - `limit` (integer, optional): Number of bumps per page.\n  - `page` (integer, optional): Page number to retrieve.\n\n- **Response:** Returns a list of bumps including details and metadata.\n\nThis is useful for managing upsell strategies in an e-commerce setup.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of bumps per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing list of bumps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpsList"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Bumps"
        ],
        "summary": "Create a new bump",
        "description": "Create a new bump which can be an add-on or upsell product to enhance sales.\n\n- **Request Headers:**\n  - `x-store-id` (string, required): The ID of the store making the request.\n\n- **Request Body:**\n  - `title` (string, required): Title of the bump.\n  - `price` (number, required): Price of the bump in cents.\n  - `description` (string, optional): Description of the bump.\n  - `badge_title` (string, optional): Title of the badge for the bump.\n  - `badge_color` (string, optional): Color of the badge.\n\n- **Response:** The created bump object.\n\nThis endpoint facilitates the creation of catchy add-ons for product pages.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBumpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bump created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/discounts/{id}": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "Retrieve Discount Details",
        "description": "Fetch details of a specific discount using its ID and the store’s `x-store-id`. Returns discount information including its name, code, type, amount, and associated products. Returns 404 if the discount is not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the discount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetails"
                }
              }
            }
          },
          "404": {
            "description": "Discount not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Discounts"
        ],
        "summary": "Update Discount",
        "description": "Update the details of an existing discount identified by its ID. Allows modification of various fields including `name`, `code`, `discount_type`, and more. Requires `x-store-id` for authorization. Returns the updated discount data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the discount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - No updatable fields provided."
          },
          "404": {
            "description": "Discount not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Discounts"
        ],
        "summary": "Delete Discount",
        "description": "Delete a discount using its ID, ensuring store authorization using `x-store-id`. Completely removes the discount from the system and marks it as deleted. Confirm the operation through the returned confirmation message.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the discount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDiscountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Discount not found."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/discounts": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "List Discounts",
        "description": "Fetch a paginated list of all discounts available within a store using `x-store-id`. Supports filtering by `status` and includes pagination via `limit`, `page`, and `offset`. Returns discount details such as codes, types, and amounts.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter discounts by status.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts with pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Discounts"
        ],
        "summary": "Create a Discount",
        "description": "Create a new discount code for a store identified by `x-store-id`. Requires details such as `name`, `code`, `discount_type`, and `discount_amount`. Checks for code uniqueness within the store. Returns the created discount detail.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A discount with this code already exists."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/api/v1/emails/broadcast": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Broadcast Email",
        "description": "Send a broadcast email to a segment of customers identified by their store tag, or to all customers. Requires `subject` and `html` in the request body. Verifies the store using `x-store-id` and checks customer availability before sending emails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEmailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "CartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "TriggerRecoveryEmailRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string"
          }
        },
        "required": [
          "cart_id"
        ]
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "affiliate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "website": {
                "type": "string"
              },
              "social_links": {
                "type": "string"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "total_revenue": {
                "type": "number"
              },
              "total_commission": {
                "type": "integer"
              },
              "pending_commission": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UpdateAffiliateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "InviteAffiliateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ]
      },
      "GenerateTrackingLinkRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "membership_id",
          "code"
        ]
      },
      "TrackingLink": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AffiliatesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateDetails"
            }
          }
        }
      },
      "UpdateAffiliateMembershipStatusRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "reject",
              "ban"
            ]
          }
        },
        "required": [
          "membership_id",
          "action"
        ]
      },
      "AudienceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateAudienceMemberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "UnsubscribeAudienceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          }
        }
      },
      "BroadcastsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "recipients_filter": {
                  "type": "object"
                },
                "stats": {
                  "type": "object"
                },
                "sent_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "SendBroadcastRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "recipients_type": {
            "type": "string",
            "enum": [
              "all",
              "repeat_customers"
            ]
          }
        },
        "required": [
          "name",
          "subject",
          "html",
          "recipients_type"
        ]
      },
      "BroadcastResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "broadcast_id": {
                "type": "string"
              },
              "sent_count": {
                "type": "integer"
              },
              "audience_size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "AudienceContactsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceMember"
            }
          }
        }
      },
      "TaggedCustomersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "RemoveTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "TagUpdateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        }
      },
      "StoreBalance": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "livemode": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          },
          "sales": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UpdateBumpRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          }
        }
      },
      "DeleteBumpResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BumpDetails"
            }
          }
        }
      },
      "CreateBumpRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "price"
        ]
      },
      "CheckoutLinksList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutLinkDetails"
            }
          }
        }
      },
      "CreateCheckoutLinkRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CheckoutLinkDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "sales": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateCheckoutLinkRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CheckoutSessionsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutSessionDetails"
            }
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "discount_code": {
            "type": "string"
          },
          "affiliate_code": {
            "type": "string"
          },
          "splits": {
            "type": "object"
          },
          "success_url": {
            "type": "string"
          },
          "cancel_url": {
            "type": "string"
          },
          "ui_mode": {
            "type": "string"
          },
          "return_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "product_id"
        ]
      },
      "CheckoutSessionDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount_total": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerMeterBalance": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "meter_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "total_credits": {
                  "type": "integer"
                },
                "used_credits": {
                  "type": "integer"
                },
                "remaining_credits": {
                  "type": "integer"
                },
                "rollover_unused": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "meter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "unit": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerOrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_country": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PortalSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "orders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CustomerSubscriptions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "current_period_end": {
                  "type": "string",
                  "format": "date-time"
                },
                "cancel_at_period_end": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomersListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDetails"
            }
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ]
      },
      "DiscountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateDiscountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateDiscountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed"
            ]
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "code",
          "discount_type",
          "discount_amount"
        ]
      },
      "DeleteDiscountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DiscountsListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountDetails"
            }
          }
        }
      },
      "DisputesListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "BroadcastEmailRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "target_all": {
            "type": "boolean"
          }
        }
      },
      "BroadcastEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FileDownloadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "file_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "FileDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "button_label": {
            "type": "string"
          },
          "file_r2_key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "bump_id": {
            "type": "string"
          }
        }
      },
      "DeleteFileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FilesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "LicenseKeyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "LicenseKeyDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "activations": {
            "type": "integer"
          },
          "activation_limit": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "UpdateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "activation_limit": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ActivateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string"
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseKeyActivationResponse": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LicenseKeysList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LicenseKeyDetails"
            }
          }
        }
      },
      "ValidateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string"
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseKeyValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "customer_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "MeterDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateMeterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "MetersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeterDetails"
            }
          }
        }
      },
      "CreateMeterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string",
            "enum": [
              "sum",
              "count",
              "max",
              "latest"
            ]
          },
          "unit": {
            "type": "string",
            "default": "unit"
          }
        },
        "required": [
          "name",
          "event_name",
          "aggregation_type"
        ]
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "period": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "orders": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "gross_revenue": {
                    "type": "number"
                  },
                  "net_revenue": {
                    "type": "number"
                  }
                }
              },
              "subscriptions": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "integer"
                  },
                  "mrr": {
                    "type": "number"
                  },
                  "arr": {
                    "type": "number"
                  }
                }
              },
              "customers": {
                "type": "object",
                "properties": {
                  "new_in_period": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "RefundOrderRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount to refund in cents if partial refund is desired."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund. Defaults to 'requested_by_customer'."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "refund_id": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "OrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetails"
            }
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "net_amount": {
            "type": "number"
          },
          "tax_amount": {
            "type": "number"
          },
          "tax_breakdown": {
            "type": "object"
          },
          "customer_country": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "customer_tax_id": {
            "type": "string"
          },
          "is_recovery_conversion": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "order_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "OrganizationDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationDetails"
            }
          }
        }
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "organization_name"
        ]
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          }
        }
      },
      "AddOrganizationMemberRequest": {
        "type": "object",
        "properties": {
          "seat_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "seat_id",
          "email"
        ]
      },
      "OrganizationMembersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "seat_status": {
                  "type": "string"
                },
                "assigned_email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer_members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PayoutsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "payout_date": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "PortalOrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "order_id": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "preview_link": {
            "type": "string"
          },
          "pricing_model": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "pricing_tiers": {
            "type": "string"
          },
          "package_size": {
            "type": "integer"
          },
          "metered_prices": {
            "type": "string"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "boolean"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantDetails"
            }
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "file_url": {
                  "type": "string"
                },
                "position": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "boolean"
          },
          "preview_link": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "ProductVariantsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantDetails"
            }
          }
        }
      },
      "CreateProductVariantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "price"
        ]
      },
      "ProductVariantDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
[...]
