{
  "openapi": "3.0.0",
  "info": {
    "title": "Growth API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/abandoned-carts/{id}/recover": {
      "post": {
        "summary": "Trigger recovery email",
        "description": "Trigger a recovery email for a specific abandoned cart by ID. This manually sends an email to the customer associated with the abandoned cart if it hasn't been recovered yet. The email includes a link for the customer to complete their purchase. Useful for engaging customers who have left items in their cart without checking out.",
        "tags": [
          "Abandoned Carts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the abandoned cart to recover.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Recovery email successfully triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartRecoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/abandoned-carts/{id}": {
      "get": {
        "summary": "Get abandoned cart details",
        "description": "Retrieve details of a specific abandoned cart by its ID. This includes information such as the customer's email, status of the cart, and the product details. Useful for understanding individual cart abandonment cases.",
        "tags": [
          "Abandoned Carts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the abandoned cart.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the abandoned cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCart"
                }
              }
            }
          }
        }
      }
    },
    "/abandoned-carts": {
      "get": {
        "summary": "List abandoned carts",
        "description": "Fetch a list of abandoned carts for the store, with optional filters for status and product ID. Returns paginated results including cart details. Useful for analyzing cart abandonment patterns and metrics.",
        "tags": [
          "Abandoned Carts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter results by cart status (e.g., 'open', 'recovered', 'expired').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "description": "Filter results by product ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of abandoned carts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartList"
                }
              }
            }
          }
        }
      }
    },
    "/abandoned-carts/trigger": {
      "post": {
        "summary": "Manual recovery email",
        "description": "Manually trigger a recovery email for an abandoned cart by providing the cart ID in the request body. Sends a recovery email to the customer with a link to complete their purchase. Useful for manually engaging with customers.",
        "tags": [
          "Abandoned Carts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbandonedCartTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery email successfully sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/{id}/conversions": {
      "get": {
        "summary": "List affiliate conversions",
        "description": "Retrieve orders attributed to a specific affiliate by providing the affiliate ID. Includes pagination and detailed order information, such as customer and product details. Useful for affiliate performance analysis and payment processing.",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the affiliate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of orders attributed to the affiliate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateConversions"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/{id}": {
      "get": {
        "summary": "Retrieve affiliate details",
        "description": "Fetch the details of a specific affiliate using their ID. This includes information about the affiliate's profile and their conversion statistics. You'll receive the affiliate's `id`, store information, any related affiliate program details, and key statistics such as total conversions, revenue, commission, and pending commission. Use this to assess and manage individual affiliate performance in your affiliate program.",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the affiliate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliate details and conversion statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update affiliate status",
        "description": "Update status fields for an existing affiliate by providing their ID. This endpoint is crucial for managing affiliate lifecycle stages such as active or inactive status. Supply valid status updates to ensure affiliate engagement and participation align with your strategic goals.",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the affiliate to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated affiliate details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/invite": {
      "post": {
        "summary": "Invite an affiliate",
        "description": "Programmatically send an invitation to join an affiliate program via email. Provide the affiliate's email, and the system will generate a custom invite link that uniquely identifies the invitation in context to the sender's store. Ideal for expanding affiliate programs and engaging new potential affiliates.",
        "tags": [
          "Affiliates",
          "Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateInviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return status of the invitation process.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/links": {
      "post": {
        "summary": "Create custom tracking links",
        "description": "Generate a tracking link for a given affiliate membership by providing a membership ID and predetermined code format. Ensure the generated code meets specified constraints to maintain link uniqueness and validity across the platform.",
        "tags": [
          "Affiliates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateLinkCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created tracking link data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingLink"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates": {
      "get": {
        "summary": "List affiliates",
        "description": "Retrieve a paginated list of affiliates related to your store, optionally filtered by status. This allows store owners to manage their affiliates effectively, ensuring that only those affiliates that align with business metrics are monitored actively.",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter affiliates by their current status (e.g., approved, pending).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of affiliates to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of affiliates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update affiliate membership status",
        "description": "Approve, reject, or ban an affiliate application. This is critical in moderating your affiliate program participants and ensuring they meet compliance and strategic partnership criteria.",
        "tags": [
          "Affiliates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateMembershipAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated status of the affiliate membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetails"
                }
              }
            }
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "summary": "List all discounts",
        "description": "Retrieve a list of discounts (coupons) associated with the store, with optional status filtering.\n\n**Business Use Case:** Manage promotional offers and analyze discounts for sales strategy.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `status` (string): Filter discounts by their status.\n- `limit` (integer): Number of items per page.\n- `page` (integer): Current page number.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of discounts with pagination information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      },
      "post": {
        "summary": "Create a new discount",
        "description": "Create a new discount (coupon) for the store with specified details, such as name, code, and type.\n\n**Business Use Case:** Introduce new promotional offers to boost sales and attract customers.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `name` (string, required): The name of the discount.\n- `code` (string, required): The unique code for the discount.\n- `discount_type` (string, required): The type of discount, either `percentage` or `fixed`.\n- `discount_amount` (number, required): The amount or percentage of the discount.\n\nA webhook event `discount.created` is triggered upon successful creation.",
        "tags": [
          "Discounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "409": {
            "description": "Conflict: A discount with the given code already exists."
          }
        }
      }
    },
    "/discounts/{id}": {
      "get": {
        "summary": "Retrieve discount details",
        "description": "Fetch detailed information about a specific discount using its unique ID.\n\n**Business Use Case:** Review and verify the configuration of a discount offer.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the discount to retrieve details for.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Discount not found."
          }
        }
      },
      "patch": {
        "summary": "Update discount details",
        "description": "Update specific fields of a discount identified by its unique ID. Only specified fields that are allowed will be updated.\n\n**Business Use Case:** Modify discount offers to adjust promotional strategies or correct errors.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the discount to update.\n\n**Request Body:** Specify only fields to be updated.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to no provided updatable fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Discount not found."
          }
        }
      },
      "delete": {
        "summary": "Delete a discount",
        "description": "Remove a discount identified by its unique ID from the store's database.\n\n**Business Use Case:** Discontinue promotional offers that are no longer valid or required. A webhook event `discount.deleted` is triggered upon successful deletion.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Path Parameters:**\n- `id` (string, required): The ID of the discount to delete.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfirmation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "404": {
            "description": "Discount not found."
          }
        }
      }
    },
    "/emails/broadcast": {
      "post": {
        "summary": "Send a broadcast email",
        "description": "Send an email to a segment of the store's customers based on tags or send to all customers. The email will include a specified subject and HTML content.\n\n**Business Use Case:** Engage with specific customer segments for marketing campaigns or announcements using customized emails.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Request Body:**\n- `subject` (string, required): The subject of the broadcast email.\n- `html` (string, required): The HTML content of the email.\n- `tag` (string, optional): The tag to identify target customer segment.\n- `target_all` (boolean, optional): Whether to target all customers.",
        "tags": [
          "Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast email sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing required fields."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    },
    "/payouts": {
      "get": {
        "summary": "List store payouts",
        "description": "Retrieve a list of payouts associated with the store's connected Stripe account, subject to a maximum limit.\n\n**Business Use Case:** Allows store owners to monitor and manage financial flows and payout activities.\n\n**Required Headers:**\n- `x-store-id`: The ID of the store.\n\n**Query Parameters:**\n- `limit` (integer, optional): The maximum number of payouts to retrieve per request.\n\n**Responses:**\n- **200:** Successfully retrieved list of payouts.",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of payouts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request if the store has no connected Stripe account."
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "AbandonedCartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "AbandonedCartTriggerRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string",
            "description": "The ID of the abandoned cart to send a recovery email for."
          }
        },
        "required": [
          "cart_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "affiliate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "website": {
                "type": "string"
              },
              "social_links": {
                "type": "string"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "total_revenue": {
                "type": "number"
              },
              "total_commission": {
                "type": "integer"
              },
              "pending_commission": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AffiliateUpdateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The new status of the affiliate."
          }
        },
        "required": [
          "status"
        ]
      },
      "AffiliateInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the affiliate to invite."
          }
        },
        "required": [
          "email"
        ]
      },
      "AffiliateLinkCreationRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string",
            "description": "The ID of the affiliate membership."
          },
          "code": {
            "type": "string",
            "description": "The code for the tracking link."
          }
        },
        "required": [
          "membership_id",
          "code"
        ]
      },
      "AudienceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AudienceUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name of the audience member."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the audience member."
          }
        },
        "required": [
          "status"
        ]
      },
      "UnsubscribeConfirmation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The new status of the audience member, indicating unsubscription."
          }
        }
      },
      "TrackingLink": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AffiliateMembershipAction": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string",
            "description": "The ID of the affiliate membership to update."
          },
          "action": {
            "type": "string",
            "description": "The action to perform (approve, reject, ban).",
            "enum": [
              "approve",
              "reject",
              "ban"
            ]
          }
        },
        "required": [
          "membership_id",
          "action"
        ]
      },
      "AffiliateList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateDetails"
            }
          }
        }
      },
      "BroadcastListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "recipients_filter": {
                  "type": "object"
                },
                "stats": {
                  "type": "object"
                },
                "sent_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "BroadcastRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the broadcast email."
          },
          "subject": {
            "type": "string",
            "description": "The subject of the email."
          },
          "html": {
            "type": "string",
            "description": "The HTML content of the email."
          },
          "recipients_type": {
            "type": "string",
            "description": "The type of recipients for the broadcast.",
            "enum": [
              "all",
              "repeat_customers"
            ]
          }
        },
        "required": [
          "name",
          "subject",
          "html",
          "recipients_type"
        ]
      },
      "BroadcastResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "broadcast_id": {
                "type": "string"
              },
              "sent_count": {
                "type": "integer"
              },
              "audience_size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "AudienceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "total_orders": {
                  "type": "integer"
                },
                "lifetime_revenue": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "TaggedCustomersResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The ID of the customer to tag."
          },
          "tag": {
            "type": "string",
            "description": "The tag to add to the customer."
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "RemoveTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The ID of the customer to remove the tag from."
          },
          "tag": {
            "type": "string",
            "description": "The tag to be removed from the customer."
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "livemode": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          },
          "sales": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BumpUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The updated title of the bump."
          },
          "description": {
            "type": "string",
            "description": "The updated description of the bump."
          },
          "price": {
            "type": "number",
            "description": "The updated price of the bump."
          },
          "badge_title": {
            "type": "string",
            "description": "The updated badge title of the bump."
          },
          "badge_color": {
            "type": "string",
            "description": "The updated badge color of the bump."
          }
        }
      },
      "DeleteConfirmation": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BumpDetails"
            }
          }
        }
      },
      "BumpCreationRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the bump."
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the bump."
          },
          "price": {
            "type": "number",
            "description": "The price of the bump in cents."
          },
          "badge_title": {
            "type": "string",
            "description": "The badge title for the bump."
          },
          "badge_color": {
            "type": "string",
            "description": "The badge color for the bump."
          }
        },
        "required": [
          "title",
          "price"
        ]
      },
      "CheckoutLinkList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutLinkDetails"
            }
          }
        }
      },
      "CheckoutLinkCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the checkout link."
          },
          "design": {
            "type": "object",
            "description": "Design settings for the checkout link."
          },
          "status": {
            "type": "string",
            "description": "The status of the checkout link."
          }
        },
        "required": [
          "name"
        ]
      },
      "CheckoutLinkDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "sales": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutLinkUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the checkout link."
          },
          "design": {
            "type": "object",
            "description": "Updated design settings."
          },
          "status": {
            "type": "string",
            "description": "Updated status of the checkout link."
          }
        }
      },
      "CheckoutSessionList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "The ID of the product to checkout."
          },
          "variant_id": {
            "type": "string",
            "description": "The ID of the product variant."
          },
          "customer_email": {
            "type": "string",
            "description": "The customer's email for the checkout."
          },
          "discount_code": {
            "type": "string",
            "description": "Discount code to apply."
          },
          "affiliate_code": {
            "type": "string",
            "description": "Affiliate code if applicable."
          },
          "splits": {
            "type": "array",
            "description": "Revenue split configurations."
          },
          "success_url": {
            "type": "string",
            "description": "URL to redirect upon successful checkout."
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect upon checkout cancellation."
          },
          "return_url": {
            "type": "string",
            "description": "URL to return to after checkout flow."
          },
          "options": {
            "type": "object",
            "description": "Additional checkout options."
          },
          "appearance": {
            "type": "object",
            "description": "Visual appearance settings."
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata to attach to the session."
          }
        },
        "required": [
          "product_id"
        ]
      },
      "CheckoutSessionDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount_total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MeterBalanceResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "meter_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "total_credits": {
                  "type": "number"
                },
                "used_credits": {
                  "type": "number"
                },
                "remaining_credits": {
                  "type": "number"
                },
                "meter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "unit": {
                      "type": "string"
                    }
                  }
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "CustomerOrdersResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_country": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PortalSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomerDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "total_orders": {
                "type": "integer"
              },
              "lifetime_revenue": {
                "type": "number"
              },
              "metadata": {
                "type": "object"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "orders": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name of the customer."
          },
          "email": {
            "type": "string",
            "description": "The updated email of the customer."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the customer."
          }
        }
      },
      "CustomerSubscriptionsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "current_period_end": {
                  "type": "string",
                  "format": "date-time"
                },
                "cancel_at_period_end": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the new customer."
          },
          "email": {
            "type": "string",
            "description": "The email address of the new customer."
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDetailsResponse"
            }
          }
        }
      },
      "DiscountCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the discount."
          },
          "code": {
            "type": "string",
            "description": "The unique code for the discount."
          },
          "discount_type": {
            "type": "string",
            "description": "The type of discount, either `percentage` or `fixed`."
          },
          "discount_amount": {
            "type": "number",
            "description": "The amount or percentage of the discount."
          }
        },
        "required": [
          "name",
          "code",
          "discount_type",
          "discount_amount"
        ]
      },
      "DiscountListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountDetailsResponse"
            }
          }
        }
      },
      "DiscountDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "discount_type": {
                "type": "string"
              },
              "discount_amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "max_redemptions": {
                "type": "integer"
              },
              "starts_at": {
                "type": "string",
                "format": "date-time"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "DiscountUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name for the discount."
          },
          "code": {
            "type": "string",
            "description": "The updated unique code for the discount."
          },
          "discount_type": {
            "type": "string",
            "description": "The updated type of discount, either `percentage` or `fixed`."
          },
          "discount_amount": {
            "type": "number",
            "description": "The updated amount or percentage of the discount."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the discount."
          },
          "max_redemptions": {
            "type": "integer",
            "description": "The updated max redemptions allowed."
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "The updated start date for the discount."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "The updated expiration date for the discount."
          }
        }
      },
      "DisputeListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dispute"
            }
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          }
        }
      },
      "BroadcastEmailRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject of the broadcast email."
          },
          "html": {
            "type": "string",
            "description": "The HTML content of the email."
          },
          "tag": {
            "type": "string",
            "description": "The tag used to specify target customer segment."
          },
          "target_all": {
            "type": "boolean",
            "description": "Whether to target all customers."
          }
        },
        "required": [
          "subject",
          "html"
        ]
      },
      "BroadcastEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EventTrackingRequest": {
        "type": "object",
        "properties": {
          "eventName": {
            "type": "string",
            "description": "The name of the event to be tracked."
          },
          "eventData": {
            "type": "object",
            "description": "Additional data to be recorded with the event."
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the event."
          },
          "referrer": {
            "type": "string",
            "description": "The referrer of the event."
          }
        },
        "required": [
          "eventName"
        ]
      },
      "TrackedEventsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "event": {
                  "type": "string"
                },
                "success": {
                  "type": "boolean"
                },
                "response_status": {
                  "type": "integer"
                },
                "error_message": {
                  "type": "string"
                },
                "payload": {
                  "type": "object"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "FileDownloadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "file_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "FileDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "button_label": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              },
              "bump_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "DeliverableListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "DeliverableUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file to upload."
          },
          "product_id": {
            "type": "string",
            "description": "The ID of the related product."
          },
          "variant_id": {
            "type": "string",
            "description": "The ID of the related product variant."
          },
          "title": {
            "type": "string",
            "description": "The title of the deliverable."
          },
          "description": {
            "type": "string",
            "description": "Description of the deliverable."
          },
          "button_label": {
            "type": "string",
            "description": "Label for the download button."
          }
        },
        "required": [
          "file",
          "product_id"
        ]
      },
      "DeliverableDetailsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "button_label": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "GeoPricingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "discount_percentage": {
                "type": "number"
              },
              "country_code": {
                "type": "string"
              },
              "country_name": {
                "type": "string"
              },
              "is_enabled": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "InvoiceDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "invoice_number": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "total_amount": {
                "type": "number"
              },
              "tax_amount": {
                "type": "number"
              },
              "net_amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "pdf_url": {
                "type": "string"
              },
              "hosted_invoice_url": {
                "type": "string"
              },
              "related_entity_id": {
                "type": "string"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "InvoiceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "invoice_number": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "total_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "currency": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "pdf_url": {
                  "type": "string"
                },
                "hosted_invoice_url": {
                  "type": "string"
                },
                "related_entity_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LicenseKeyDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "LicenseKeyDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "order": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "LicenseKeyUpdateRequest": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "activation_limit": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "LicenseActivationRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string",
            "description": "The license key to activate."
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseActivationResponse": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LicenseImportRequest": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "activation_limit": {
                  "type": "integer"
                },
                "expires_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                },
                "order_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                }
              },
              "required": [
                "key",
                "product_id"
              ]
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "LicenseImportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "imported_count": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "LicenseKeyListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "order_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "activation_limit": {
                  "type": "integer"
                },
                "activations": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "LicenseKeyCreationRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "activation_limit": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "product_id",
          "customer_id",
          "quantity"
        ]
      },
      "LicenseKeyCreationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "LicenseValidationRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string",
            "description": "The license key to validate."
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "customer_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "MeterDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "unit": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "MeterUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "MeterListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "event_name": {
                  "type": "string"
                },
                "aggregation_type": {
                  "type": "string"
                },
                "unit": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "MeterCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "event_name",
          "aggregation_type"
        ]
      },
      "MeterDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "period": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "orders": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "gross_revenue": {
                    "type": "number"
                  },
                  "net_revenue": {
                    "type": "number"
                  }
                }
              },
              "subscriptions": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "integer"
                  },
                  "mrr": {
                    "type": "number"
                  },
                  "arr": {
                    "type": "number"
                  }
                }
              },
              "customers": {
                "type": "object",
                "properties": {
                  "new_in_period": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "tax_breakdown": {
                  "type": "object"
                },
                "is_recovery_conversion": {
                  "type": "boolean"
                },
                "customer_country": {
                  "type": "string"
                },
                "business_name": {
                  "type": "string"
                },
                "customer_tax_id": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "subscription_id": {
                  "type": "string"
                },
                "affiliate_membership_id": {
                  "type": "string"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "order_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": {
                        "type": "string"
                      },
                      "variant_id": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OrderDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "net_amount": {
                "type": "number"
              },
              "tax_amount": {
                "type": "number"
              },
              "tax_breakdown": {
                "type": "object"
              },
              "customer_country": {
                "type": "string"
              },
              "business_name": {
                "type": "string"
              },
              "customer_tax_id": {
                "type": "string"
              },
              "is_recovery_conversion": {
                "type": "boolean"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              },
              "subscription_id": {
                "type": "string"
              },
              "affiliate_membership_id": {
                "type": "string"
              },
              "affiliate_commission_cents": {
                "type": "integer"
              },
              "affiliate_payout_status": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "variant": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "order_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "variant_id": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "quantity": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to refund in cents. If left undefined, the full amount will be refunded."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "refund_id": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "OrganizationListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationDetails"
            }
          }
        }
      },
      "OrganizationCreationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the organization."
          },
          "organization_name": {
            "type": "string",
            "description": "Name of the organization."
          },
          "billing_email": {
            "type": "string",
            "description": "Billing email address."
          }
        },
        "required": [
          "email",
          "organization_name"
        ]
      },
      "OrganizationUpdateRequest": {
        "type": "object",
        "properties": {
          "organization_name": {
            "type": "string",
            "description": "Updated name of the organization."
          },
          "billing_email": {
            "type": "string",
            "description": "Updated billing email address."
          }
        }
      },
      "OrganizationDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          },
          "created_at": {
[...]
