{
  "openapi": "3.0.0",
  "info": {
    "title": "Blink API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/abandoned-carts/{id}/recover": {
      "post": {
        "summary": "Trigger recovery email for an abandoned cart",
        "operationId": "recoverAbandonedCart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Recovery email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartRecoveryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Abandoned cart not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/abandoned-carts/{id}": {
      "get": {
        "summary": "Retrieve a specific abandoned cart",
        "operationId": "getAbandonedCart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abandoned cart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Abandoned cart not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/abandoned-carts": {
      "get": {
        "summary": "List all abandoned carts",
        "operationId": "listAbandonedCarts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "recovered",
                "expired"
              ]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of abandoned carts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/abandoned-carts/trigger": {
      "post": {
        "summary": "Manually trigger a recovery email",
        "operationId": "triggerRecoveryEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerRecoveryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerRecoveryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Abandoned cart not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/affiliates/{id}/conversions": {
      "get": {
        "summary": "Get orders attributed to an affiliate",
        "operationId": "getAffiliateConversions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateConversionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Affiliate not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/affiliates/{id}": {
      "get": {
        "summary": "Retrieve a specific affiliate",
        "operationId": "getAffiliate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Affiliate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Affiliate not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update an affiliate's status",
        "operationId": "patchAffiliate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Affiliate not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/invite": {
      "post": {
        "summary": "Invite an affiliate",
        "operationId": "inviteAffiliate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteAffiliateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteAffiliateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates/links": {
      "post": {
        "summary": "Generate affiliate link",
        "operationId": "generateAffiliateLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAffiliateLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAffiliateLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Affiliate membership not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/affiliates": {
      "get": {
        "summary": "List all affiliates",
        "operationId": "listAllAffiliates",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of affiliates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Approve or update affiliate",
        "operationId": "updateAffiliateStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliateStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliate status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAffiliateStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Affiliate membership not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/{id}": {
      "get": {
        "summary": "Retrieve an audience member",
        "operationId": "getAudienceMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Audience member not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update audience member status",
        "operationId": "updateAudienceMemberStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience member updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Audience member not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Unsubscribe audience member",
        "operationId": "unsubscribeAudienceMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience member unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceUnsubscribeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Audience member not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/broadcasts": {
      "get": {
        "summary": "List all broadcasts",
        "operationId": "listBroadcasts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Send a broadcast email",
        "operationId": "sendBroadcastEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBroadcastEmailRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBroadcastEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience": {
      "get": {
        "summary": "List contacts (opted into marketing)",
        "operationId": "listAudienceContacts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceContactList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/audience/tags": {
      "get": {
        "summary": "List customers by tag",
        "operationId": "listCustomersByTag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceTaggedCustomersList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Add a tag to a customer",
        "operationId": "addTagToCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagToCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTagToCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Remove a tag from a customer",
        "operationId": "removeTagFromCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTagFromCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveTagFromCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/balances": {
      "get": {
        "summary": "Get store balance",
        "operationId": "getStoreBalance",
        "responses": {
          "200": {
            "description": "Store balance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/bumps/{id}": {
      "get": {
        "summary": "Retrieve a specific bump",
        "operationId": "getBump",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bump details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bump not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update a bump",
        "operationId": "updateBump",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBumpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bump updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bump not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a bump",
        "operationId": "deleteBump",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bump deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBumpResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bump not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/bumps": {
      "get": {
        "summary": "List all bumps",
        "operationId": "listBumps",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bumps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a new bump",
        "operationId": "createBump",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBumpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bump created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BumpDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkouts/{id}": {
      "get": {
        "summary": "Get checkout session status",
        "operationId": "getCheckoutSessionStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Checkout session not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/checkouts": {
      "get": {
        "summary": "List checkout sessions",
        "operationId": "listCheckoutSessions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of checkout sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a Stripe checkout session",
        "operationId": "createCheckoutSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/meter-balance": {
      "get": {
        "summary": "Get meter balance for a customer",
        "operationId": "getCustomerMeterBalance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer meter balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeterBalance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "summary": "List customer orders",
        "operationId": "listCustomerOrders",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrderList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/portal-session": {
      "post": {
        "summary": "Create portal session for a customer",
        "operationId": "createCustomerPortalSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Portal session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPortalSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Retrieve customer details",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update customer details",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers/{id}/subscriptions": {
      "get": {
        "summary": "Retrieve customer subscriptions",
        "operationId": "getCustomerSubscriptions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "operationId": "listCustomers",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a new customer",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/discounts/{id}": {
      "get": {
        "summary": "Retrieve discount details",
        "operationId": "getDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Discount not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update discount details",
        "operationId": "updateDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Discount not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Delete discount",
        "operationId": "deleteDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDiscountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Discount not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/discounts": {
      "get": {
        "summary": "List all discounts",
        "operationId": "listDiscounts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a new coupon",
        "operationId": "createDiscount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/disputes": {
      "get": {
        "summary": "List all disputes",
        "operationId": "listDisputes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of disputes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/emails/broadcast": {
      "post": {
        "summary": "Send a targeted email broadcast",
        "operationId": "sendBroadcastEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBroadcastEmailV2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/events": {
      "post": {
        "summary": "Track an event",
        "operationId": "trackEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTrackingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files/{id}/download": {
      "get": {
        "summary": "Generate a time-limited pre-signed download URL",
        "operationId": "generateDownloadUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-signed URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files/{id}": {
      "get": {
        "summary": "Get a single deliverable/file",
        "operationId": "getFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a deliverable",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/files": {
      "get": {
        "summary": "List all files",
        "operationId": "listFiles",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/{id}/revoke": {
      "post": {
        "summary": "Revoke a license key",
        "operationId": "revokeLicenseKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "License key not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/{id}": {
      "get": {
        "summary": "Retrieve a license key",
        "operationId": "getLicenseKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "License key not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update a license key",
        "operationId": "updateLicenseKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "License key not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/activate": {
      "post": {
        "summary": "Activate a license key",
        "operationId": "activateLicenseKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseKeyActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyActivationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "License key not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys": {
      "get": {
        "summary": "List license keys",
        "operationId": "listLicenseKeys",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of license keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseKeyList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/license-keys/validate": {
      "post": {
        "summary": "Validate a license key",
        "operationId": "validateLicenseKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateLicenseKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License key validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateLicenseKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid license key"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/meters/{id}": {
      "get": {
        "summary": "Retrieve a specific meter",
        "operationId": "getMeter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meter details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Meter not found"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update a meter",
        "operationId": "updateMeter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meter updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Meter not found"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/meters": {
      "get": {
        "summary": "List all meters",
        "operationId": "listMeters",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of meters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a new meter",
        "operationId": "createMeter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meter created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/metrics": {
      "get": {
        "summary": "Retrieve revenue, orders, and subscription stats",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/orders/{id}/refund": {
      "post": {
        "summary": "Refund an order",
        "operationId": "refundOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order refunded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Retrieve an order",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "summary": "List orders",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "summary": "List organization members",
        "operationId": "listOrganizationMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembers"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Assign a seat to an organization member",
        "operationId": "assignSeatToOrganizationMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignSeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seat assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignSeatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization or seat not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/organizations/{id}": {
      "get": {
        "summary": "Retrieve an organization",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Update organization details",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an organization",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "List all products",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pricing_model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Create a new product",
        "operationId": "createProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/refunds": {
      "get": {
        "summary": "List all refunds",
        "operationId": "listRefunds",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/subscription-invoices": {
      "get": {
        "summary": "List subscription invoices",
        "operationId": "listSubscriptionInvoices",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscription invoices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionInvoiceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "summary": "Retrieve a subscription",
        "operationId": "getSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscription not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Cancel or pause a subscription",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscription not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List subscriptions",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/taxes/calculate": {
      "post": {
        "summary": "Calculate tax for a given amount",
        "operationId": "calculateTax",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculateTaxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculateTaxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/taxes/validate-vat": {
      "post": {
        "summary": "Validate VAT ID",
        "operationId": "validateVat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateVatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VAT validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateVatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/usage-records": {
      "post": {
        "summary": "Create a usage record",
        "operationId": "createUsageRecord",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usage record created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUsageRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "get": {
        "summary": "List usage records",
        "operationId": "listUsageRecords",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "subscription_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meter_event_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of usage records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageRecordList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/webhooks/{id}": {
      "patch": {
        "summary": "Update a webhook endpoint",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a webhook endpoint",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List registered webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      },
      "post": {
        "summary": "Register a new webhook endpoint",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "AbandonedCartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCartDetail": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "product_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "stripe_checkout_session_id": {
                "type": "string"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AbandonedCartList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCartDetail"
            }
          }
        }
      },
      "TriggerRecoveryRequest": {
        "type": "object",
        "required": [
          "cart_id"
        ],
        "properties": {
          "cart_id": {
            "type": "string"
          }
        }
      },
      "TriggerRecoveryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AffiliateConversionList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetail": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "program_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "affiliate": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "social_links": {
                    "type": "string"
                  }
                }
              },
              "stats": {
                "type": "object",
                "properties": {
                  "conversions": {
                    "type": "integer"
                  },
                  "total_revenue": {
                    "type": "number"
                  },
                  "total_commission": {
                    "type": "number"
                  },
[...]
