{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopper API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/balances": {
      "get": {
        "summary": "Retrieve store balances",
        "description": "Retrieve the available and pending Stripe balances for the store associated with the provided store ID. This endpoint is essential for financial analysis and management, helping stores track earnings and pending transactions.",
        "tags": [
          "Shopper Sessions"
        ],
        "responses": {
          "200": {
            "description": "Available and pending balances for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "summary": "List Customer Orders",
        "description": "Retrieve a paginated list of orders for a specific customer by their ID, filtered by the store ID. This endpoint returns details such as order status, amounts, and associated products, allowing you to analyze a customer's purchasing behavior.\n\n**Business Use Case:** Understand customer purchases and history for personalized marketing and support services.",
        "tags": [
          "Shopper Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to list orders for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to retrieve per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Current page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of customer orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      }
    },
    "/customers/{id}/portal-session": {
      "post": {
        "summary": "Create Customer Portal Session",
        "description": "Generate a 15-minute magic link that logs the customer into their portal at app.blink.store/my-orders. This endpoint facilitates direct access using a temporary token, enhancing the user experience by providing quick and secure access to order history.\n\n**Business Use Case:** Enhance customer convenience by enabling temporary, secure access to order management features.",
        "tags": [
          "Shopper Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to create a portal session for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success: Link to customer portal session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      }
    },
    "/customers/{id}/subscriptions": {
      "get": {
        "summary": "List Customer Subscriptions",
        "description": "Retrieve all active subscriptions for a given customer by their ID. Returns subscription details and associated product information, aiding subscription management.\n\n**Business Use Case:** Monitor customer subscriptions and manage recurring revenue effectively.",
        "tags": [
          "Shopper Subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the customer to list subscriptions for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of customer subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Missing or invalid store ID."
          },
          "404": {
            "description": "Customer not found."
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List store orders",
        "description": "Retrieve a list of orders for the store identified by `x-store-id`. Supports filtering by `status`, `customer_id`, and `product_id`. Utilizing this endpoint provides a detailed view into customer purchases and sales trends.",
        "tags": [
          "Shopper Orders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access without a valid store ID."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Retrieve order details",
        "description": "Fetch complete details of a specific order by its ID, verifying ownership using `x-store-id`. The response includes customer, product, and financial information relevant for auditing or customer support.",
        "tags": [
          "Shopper Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Order not found."
          }
        }
      }
    },
    "/orders/{id}/refund": {
      "post": {
        "summary": "Refund an order",
        "description": "Process a refund for a specific order, identified by its ID. This action updates the order status and creates a refund transaction in Stripe. The endpoint enables handling full or partial refunds, enhancing customer satisfaction and compliance with financial policies.",
        "tags": [
          "Shopper Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input."
          },
          "401": {
            "description": "Unauthorized access."
          },
          "404": {
            "description": "Order not found."
          }
        }
      }
    },
    "/portal/orders": {
      "get": {
        "summary": "List Customer's Orders",
        "description": "Fetch a list of orders associated with the authenticated customer. This endpoint requires a bearer token in the `Authorization` header to identify the customer. It helps customers view their order history.\n\n**Business Use Case:** Allow customers to review past purchases and track order statuses.\n\n**Responses:**\n- **200:** A list of customer's orders along with pagination metadata.\n- **401:** Unauthorized if no valid token is provided.",
        "tags": [
          "Shopper Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful operation with the list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          }
        }
      }
    },
    "/portal/sessions": {
      "post": {
        "summary": "Create a Customer Session",
        "description": "Create a new customer session for accessing personal portal information. Returns a token that should be used for subsequent portal API requests.\n\n**Business Use Case:** Enhance customer experience by enabling secure and seamless access to personal order and subscription information.\n\n**Responses:**\n- **200:** A token is returned that can be used for authenticated requests.",
        "tags": [
          "Shopper Sessions"
        ],
        "responses": {
          "200": {
            "description": "Session successfully created with a return token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/portal/subscriptions": {
      "get": {
        "summary": "List Customer's Subscriptions",
        "description": "Retrieve a list of active subscriptions for the authenticated customer. Requires a bearer token in the `Authorization` header to identify the customer. Useful for customers to manage and view their subscriptions.\n\n**Business Use Case:** Enable customers to check statuses, renewal dates, and details of their active subscriptions.\n\n**Responses:**\n- **200:** A list of customer's subscriptions with pagination metadata.\n- **401:** Unauthorized if no valid token is provided.",
        "tags": [
          "Shopper Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful operation with the list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "AbandonedCartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "AbandonedCartTriggerRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string",
            "description": "The ID of the abandoned cart to send a recovery email for."
          }
        },
        "required": [
          "cart_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "affiliate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "website": {
                "type": "string"
              },
              "social_links": {
                "type": "string"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "total_revenue": {
                "type": "number"
              },
              "total_commission": {
                "type": "integer"
              },
              "pending_commission": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AffiliateUpdateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The new status of the affiliate."
          }
        },
        "required": [
          "status"
        ]
      },
      "AffiliateInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the affiliate to invite."
          }
        },
        "required": [
          "email"
        ]
      },
      "AffiliateLinkCreationRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string",
            "description": "The ID of the affiliate membership."
          },
          "code": {
            "type": "string",
            "description": "The code for the tracking link."
          }
        },
        "required": [
          "membership_id",
          "code"
        ]
      },
      "AudienceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AudienceUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name of the audience member."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the audience member."
          }
        },
        "required": [
          "status"
        ]
      },
      "UnsubscribeConfirmation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The new status of the audience member, indicating unsubscription."
          }
        }
      },
      "TrackingLink": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AffiliateMembershipAction": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string",
            "description": "The ID of the affiliate membership to update."
          },
          "action": {
            "type": "string",
            "description": "The action to perform (approve, reject, ban).",
            "enum": [
              "approve",
              "reject",
              "ban"
            ]
          }
        },
        "required": [
          "membership_id",
          "action"
        ]
      },
      "AffiliateList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateDetails"
            }
          }
        }
      },
      "BroadcastListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "recipients_filter": {
                  "type": "object"
                },
                "stats": {
                  "type": "object"
                },
                "sent_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "BroadcastRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the broadcast email."
          },
          "subject": {
            "type": "string",
            "description": "The subject of the email."
          },
          "html": {
            "type": "string",
            "description": "The HTML content of the email."
          },
          "recipients_type": {
            "type": "string",
            "description": "The type of recipients for the broadcast.",
            "enum": [
              "all",
              "repeat_customers"
            ]
          }
        },
        "required": [
          "name",
          "subject",
          "html",
          "recipients_type"
        ]
      },
      "BroadcastResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "broadcast_id": {
                "type": "string"
              },
              "sent_count": {
                "type": "integer"
              },
              "audience_size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "AudienceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "total_orders": {
                  "type": "integer"
                },
                "lifetime_revenue": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "TaggedCustomersResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The ID of the customer to tag."
          },
          "tag": {
            "type": "string",
            "description": "The tag to add to the customer."
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "RemoveTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The ID of the customer to remove the tag from."
          },
          "tag": {
            "type": "string",
            "description": "The tag to be removed from the customer."
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "livemode": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          },
          "sales": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BumpUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The updated title of the bump."
          },
          "description": {
            "type": "string",
            "description": "The updated description of the bump."
          },
          "price": {
            "type": "number",
            "description": "The updated price of the bump."
          },
          "badge_title": {
            "type": "string",
            "description": "The updated badge title of the bump."
          },
          "badge_color": {
            "type": "string",
            "description": "The updated badge color of the bump."
          }
        }
      },
      "DeleteConfirmation": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BumpDetails"
            }
          }
        }
      },
      "BumpCreationRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the bump."
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the bump."
          },
          "price": {
            "type": "number",
            "description": "The price of the bump in cents."
          },
          "badge_title": {
            "type": "string",
            "description": "The badge title for the bump."
          },
          "badge_color": {
            "type": "string",
            "description": "The badge color for the bump."
          }
        },
        "required": [
          "title",
          "price"
        ]
      },
      "CheckoutLinkList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutLinkDetails"
            }
          }
        }
      },
      "CheckoutLinkCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the checkout link."
          },
          "design": {
            "type": "object",
            "description": "Design settings for the checkout link."
          },
          "status": {
            "type": "string",
            "description": "The status of the checkout link."
          }
        },
        "required": [
          "name"
        ]
      },
      "CheckoutLinkDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "sales": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutLinkUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the checkout link."
          },
          "design": {
            "type": "object",
            "description": "Updated design settings."
          },
          "status": {
            "type": "string",
            "description": "Updated status of the checkout link."
          }
        }
      },
      "CheckoutSessionList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "The ID of the product to checkout."
          },
          "variant_id": {
            "type": "string",
            "description": "The ID of the product variant."
          },
          "customer_email": {
            "type": "string",
            "description": "The customer's email for the checkout."
          },
          "discount_code": {
            "type": "string",
            "description": "Discount code to apply."
          },
          "affiliate_code": {
            "type": "string",
            "description": "Affiliate code if applicable."
          },
          "splits": {
            "type": "array",
            "description": "Revenue split configurations."
          },
          "success_url": {
            "type": "string",
            "description": "URL to redirect upon successful checkout."
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect upon checkout cancellation."
          },
          "return_url": {
            "type": "string",
            "description": "URL to return to after checkout flow."
          },
          "options": {
            "type": "object",
            "description": "Additional checkout options."
          },
          "appearance": {
            "type": "object",
            "description": "Visual appearance settings."
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata to attach to the session."
          }
        },
        "required": [
          "product_id"
        ]
      },
      "CheckoutSessionDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount_total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MeterBalanceResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "meter_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "total_credits": {
                  "type": "number"
                },
                "used_credits": {
                  "type": "number"
                },
                "remaining_credits": {
                  "type": "number"
                },
                "meter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "unit": {
                      "type": "string"
                    }
                  }
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "CustomerOrdersResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_country": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PortalSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomerDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "total_orders": {
                "type": "integer"
              },
              "lifetime_revenue": {
                "type": "number"
              },
              "metadata": {
                "type": "object"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "orders": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name of the customer."
          },
          "email": {
            "type": "string",
            "description": "The updated email of the customer."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the customer."
          }
        }
      },
      "CustomerSubscriptionsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "current_period_end": {
                  "type": "string",
                  "format": "date-time"
                },
                "cancel_at_period_end": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the new customer."
          },
          "email": {
            "type": "string",
            "description": "The email address of the new customer."
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDetailsResponse"
            }
          }
        }
      },
      "DiscountCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the discount."
          },
          "code": {
            "type": "string",
            "description": "The unique code for the discount."
          },
          "discount_type": {
            "type": "string",
            "description": "The type of discount, either `percentage` or `fixed`."
          },
          "discount_amount": {
            "type": "number",
            "description": "The amount or percentage of the discount."
          }
        },
        "required": [
          "name",
          "code",
          "discount_type",
          "discount_amount"
        ]
      },
      "DiscountListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountDetailsResponse"
            }
          }
        }
      },
      "DiscountDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "discount_type": {
                "type": "string"
              },
              "discount_amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "max_redemptions": {
                "type": "integer"
              },
              "starts_at": {
                "type": "string",
                "format": "date-time"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "DiscountUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name for the discount."
          },
          "code": {
            "type": "string",
            "description": "The updated unique code for the discount."
          },
          "discount_type": {
            "type": "string",
            "description": "The updated type of discount, either `percentage` or `fixed`."
          },
          "discount_amount": {
            "type": "number",
            "description": "The updated amount or percentage of the discount."
          },
          "status": {
            "type": "string",
            "description": "The updated status of the discount."
          },
          "max_redemptions": {
            "type": "integer",
            "description": "The updated max redemptions allowed."
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "The updated start date for the discount."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "The updated expiration date for the discount."
          }
        }
      },
      "DisputeListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dispute"
            }
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          }
        }
      },
      "BroadcastEmailRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject of the broadcast email."
          },
          "html": {
            "type": "string",
            "description": "The HTML content of the email."
          },
          "tag": {
            "type": "string",
            "description": "The tag used to specify target customer segment."
          },
          "target_all": {
            "type": "boolean",
            "description": "Whether to target all customers."
          }
        },
        "required": [
          "subject",
          "html"
        ]
      },
      "BroadcastEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EventTrackingRequest": {
        "type": "object",
        "properties": {
          "eventName": {
            "type": "string",
            "description": "The name of the event to be tracked."
          },
          "eventData": {
            "type": "object",
            "description": "Additional data to be recorded with the event."
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the event."
          },
          "referrer": {
            "type": "string",
            "description": "The referrer of the event."
          }
        },
        "required": [
          "eventName"
        ]
      },
      "TrackedEventsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "event": {
                  "type": "string"
                },
                "success": {
                  "type": "boolean"
                },
                "response_status": {
                  "type": "integer"
                },
                "error_message": {
                  "type": "string"
                },
                "payload": {
                  "type": "object"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "FileDownloadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "file_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "FileDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "button_label": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              },
              "bump_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "DeliverableListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "DeliverableUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file to upload."
          },
          "product_id": {
            "type": "string",
            "description": "The ID of the related product."
          },
          "variant_id": {
            "type": "string",
            "description": "The ID of the related product variant."
          },
          "title": {
            "type": "string",
            "description": "The title of the deliverable."
          },
          "description": {
            "type": "string",
            "description": "Description of the deliverable."
          },
          "button_label": {
            "type": "string",
            "description": "Label for the download button."
          }
        },
        "required": [
          "file",
          "product_id"
        ]
      },
      "DeliverableDetailsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "button_label": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "GeoPricingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "discount_percentage": {
                "type": "number"
              },
              "country_code": {
                "type": "string"
              },
              "country_name": {
                "type": "string"
              },
              "is_enabled": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "InvoiceDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "invoice_number": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "total_amount": {
                "type": "number"
              },
              "tax_amount": {
                "type": "number"
              },
              "net_amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "pdf_url": {
                "type": "string"
              },
              "hosted_invoice_url": {
                "type": "string"
              },
              "related_entity_id": {
                "type": "string"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "InvoiceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "invoice_number": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "total_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "currency": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "pdf_url": {
                  "type": "string"
                },
                "hosted_invoice_url": {
                  "type": "string"
                },
                "related_entity_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LicenseKeyDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "LicenseKeyDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "order": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "LicenseKeyUpdateRequest": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "activation_limit": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "LicenseActivationRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string",
            "description": "The license key to activate."
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseActivationResponse": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LicenseImportRequest": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "activation_limit": {
                  "type": "integer"
                },
                "expires_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                },
                "order_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                }
              },
              "required": [
                "key",
                "product_id"
              ]
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "LicenseImportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "imported_count": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "LicenseKeyListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "order_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "activation_limit": {
                  "type": "integer"
                },
                "activations": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "LicenseKeyCreationRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "activation_limit": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "product_id",
          "customer_id",
          "quantity"
        ]
      },
      "LicenseKeyCreationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "LicenseValidationRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string",
            "description": "The license key to validate."
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "customer_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "MeterDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "unit": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "MeterUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "MeterListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "event_name": {
                  "type": "string"
                },
                "aggregation_type": {
                  "type": "string"
                },
                "unit": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "MeterCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "event_name",
          "aggregation_type"
        ]
      },
      "MeterDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "period": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "orders": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "gross_revenue": {
                    "type": "number"
                  },
                  "net_revenue": {
                    "type": "number"
                  }
                }
              },
              "subscriptions": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "integer"
                  },
                  "mrr": {
                    "type": "number"
                  },
                  "arr": {
                    "type": "number"
                  }
                }
              },
              "customers": {
                "type": "object",
                "properties": {
                  "new_in_period": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "tax_breakdown": {
                  "type": "object"
                },
                "is_recovery_conversion": {
                  "type": "boolean"
                },
                "customer_country": {
                  "type": "string"
                },
                "business_name": {
                  "type": "string"
                },
                "customer_tax_id": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "subscription_id": {
                  "type": "string"
                },
                "affiliate_membership_id": {
                  "type": "string"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "order_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": {
                        "type": "string"
                      },
                      "variant_id": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OrderDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "net_amount": {
                "type": "number"
              },
              "tax_amount": {
                "type": "number"
              },
              "tax_breakdown": {
                "type": "object"
              },
              "customer_country": {
                "type": "string"
              },
              "business_name": {
                "type": "string"
              },
              "customer_tax_id": {
                "type": "string"
              },
              "is_recovery_conversion": {
                "type": "boolean"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              },
              "subscription_id": {
                "type": "string"
              },
              "affiliate_membership_id": {
                "type": "string"
              },
              "affiliate_commission_cents": {
                "type": "integer"
              },
              "affiliate_payout_status": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "variant": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "order_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "variant_id": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "quantity": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to refund in cents. If left undefined, the full amount will be refunded."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "refund_id": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "OrganizationListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationDetails"
            }
          }
        }
      },
      "OrganizationCreationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the organization."
          },
          "organization_name": {
            "type": "string",
            "description": "Name of the organization."
          },
          "billing_email": {
            "type": "string",
            "description": "Billing email address."
          }
        },
        "required": [
          "email",
          "organization_name"
        ]
      },
      "OrganizationUpdateRequest": {
        "type": "object",
        "properties": {
          "organization_name": {
            "type": "string",
            "description": "Updated name of the organization."
          },
          "billing_email": {
            "type": "string",
            "description": "Updated billing email address."
          }
        }
      },
      "OrganizationDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MemberListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "seat_status": {
                  "type": "string"
                },
                "assigned_email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer_members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MemberCreationRequest": {
        "type": "object",
        "properties": {
          "seat_id": {
            "type": "string",
            "description": "The seat ID to assign."
          },
          "email": {
            "type": "string",
            "description": "Email of the member to add."
          }
        },
        "required": [
          "seat_id",
          "email"
        ]
      },
      "PayoutListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ProductDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "preview_link": {
                "type": "string"
              },
              "pricing_model": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "subscription_interval": {
                "type": "string"
              },
              "trial_days": {
                "type": "integer"
              },
              "pricing_tiers": {
                "type": "object"
              },
              "package_size": {
                "type": "integer"
              },
              "metered_prices": {
                "type": "object"
              },
              "requires_license_key": {
                "type": "boolean"
              },
              "license_key_activation_limit": {
                "type": "integer"
              },
              "cart_recovery_enabled": {
                "type": "boolean"
              },
              "customer_portal_visibility": {
                "type": "boolean"
              },
              "variants": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "deliverables": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ProductUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "boolean"
          },
          "preview_link": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "VariantDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "product_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "is_active": {
                "type": "boolean"
              },
              "subscription_interval": {
                "type": "string"
              },
              "trial_days": {
                "type": "integer"
              },
              "pricing_tiers": {
                "type": "object"
              },
              "package_size": {
                "type": "integer"
              },
              "metered_prices": {
                "type": "object"
              },
              "requires_license_key": {
                "type": "boolean"
              },
              "license_key_activation_limit": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "deliverables": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "VariantUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}