{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopper API",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/v1/portal/sessions": {
      "post": {
        "summary": "Create Session",
        "description": "Creates a customer session token",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/portal/orders": {
      "get": {
        "summary": "List Orders",
        "description": "Lists customer orders",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "RecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "RecoverCartRequest": {
        "type": "object",
        "required": [
          "cart_id"
        ],
        "properties": {
          "cart_id": {
            "type": "string"
          }
        }
      },
      "TriggerResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "affiliate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "website": {
                "type": "string"
              },
              "social_links": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "total_revenue": {
                "type": "number"
              },
              "total_commission": {
                "type": "integer"
              },
              "pending_commission": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AffiliateUpdateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "AffiliateInviteRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "InviteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TrackingLinkRequest": {
        "type": "object",
        "required": [
          "membership_id",
          "code"
        ],
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "TrackingLinkResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "membership_id": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "AffiliatesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateDetails"
            }
          }
        }
      },
      "MembershipUpdateRequest": {
        "type": "object",
        "required": [
          "membership_id",
          "action"
        ],
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          }
        }
      },
      "AudienceMemberDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "AudienceUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UnsubscribeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AudienceBroadcastsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "recipients_filter": {
                  "type": "object"
                },
                "stats": {
                  "type": "object"
                },
                "sent_at": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BroadcastRequest": {
        "type": "object",
        "required": [
          "name",
          "subject",
          "html",
          "recipients_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "recipients_type": {
            "type": "string",
            "enum": [
              "all",
              "repeat_customers"
            ]
          }
        }
      },
      "BroadcastResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "broadcast_id": {
                "type": "string"
              },
              "sent_count": {
                "type": "integer"
              },
              "audience_size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "AudienceList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceMemberDetails"
            }
          }
        }
      },
      "TaggedCustomerList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "required": [
          "customer_id",
          "tag"
        ],
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "RemoveTagRequest": {
        "type": "object",
        "required": [
          "customer_id",
          "tag"
        ],
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "livemode": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          },
          "sales": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UpdateBumpRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          }
        }
      },
      "DeleteBumpResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BumpDetails"
            }
          }
        }
      },
      "CreateBumpRequest": {
        "type": "object",
        "required": [
          "title",
          "price"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "badge_title": {
            "type": "string",
            "default": "Addon"
          },
          "badge_color": {
            "type": "string",
            "default": "green"
          }
        }
      },
      "CreateCheckoutRequest": {
        "type": "object",
        "required": [
          "product_id"
        ],
        "properties": {
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "discount_code": {
            "type": "string"
          },
          "affiliate_code": {
            "type": "string"
          },
          "splits": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "success_url": {
            "type": "string"
          },
          "cancel_url": {
            "type": "string"
          },
          "ui_mode": {
            "type": "string"
          },
          "return_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "CheckoutSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount_total": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "CustomerMeterBalance": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "meter_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "total_credits": {
                  "type": "integer"
                },
                "used_credits": {
                  "type": "integer"
                },
                "rollover_unused": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "string"
                },
                "meter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "unit": {
                      "type": "string"
                    }
                  }
                },
                "remaining_credits": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "CustomerOrders": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_country": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PortalSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "total_orders": {
                "type": "integer"
              },
              "lifetime_revenue": {
                "type": "number"
              },
              "metadata": {
                "type": "object"
              },
              "created_at": {
                "type": "string"
              },
              "orders": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CustomerSubscriptions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "current_period_end": {
                  "type": "string"
                },
                "cancel_at_period_end": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDetails"
            }
          }
        }
      },
      "NewCustomerRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "DiscountDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "discount_type": {
                "type": "string"
              },
              "discount_amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "max_redemptions": {
                "type": "integer"
              },
              "starts_at": {
                "type": "string"
              },
              "expires_at": {
                "type": "string"
              },
              "product_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DiscountUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DeleteDiscountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "DiscountsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountDetails"
            }
          }
        }
      },
      "NewDiscountRequest": {
        "type": "object",
        "required": [
          "name",
          "code",
          "discount_type",
          "discount_amount"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed"
            ]
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DisputesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "EmailBroadcastRequest": {
        "type": "object",
        "required": [
          "subject",
          "html"
        ],
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "target_all": {
            "type": "boolean"
          }
        }
      },
      "EmailBroadcastResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EventTrackingRequest": {
        "type": "object",
        "required": [
          "eventName"
        ],
        "properties": {
          "eventName": {
            "type": "string"
          },
          "eventData": {
            "type": "object"
          },
          "url": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          }
        }
      },
      "EventTrackingResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FileDownloadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "file_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "FileDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "button_label": {
            "type": "string"
          },
          "file_r2_key": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "bump_id": {
            "type": "string"
          }
        }
      },
      "DeleteFileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FilesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileDetails"
            }
          }
        }
      },
      "LicenseKeyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "LicenseKeyDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "order": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "created_at": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "LicenseKeyUpdateRequest": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string"
          },
          "activation_limit": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ActivateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string"
          }
        }
      },
      "ActivateLicenseKeyResponse": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount to refund in cents."
          },
          "reason": {
            "type": "string",
            "description": "The reason for the refund."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "refund_id": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "net_amount": {
                "type": "integer"
              },
              "tax_amount": {
                "type": "integer"
              },
              "tax_breakdown": {
                "type": "object"
              },
              "customer_country": {
                "type": "string"
              },
              "business_name": {
                "type": "string"
              },
              "customer_tax_id": {
                "type": "string"
              },
              "is_recovery_conversion": {
                "type": "boolean"
              },
              "created_at": {
                "type": "string"
              },
              "product_id": {
                "type": "string"
              },
              "variant_id": {
                "type": "string"
              },
              "subscription_id": {
                "type": "string"
              },
              "affiliate_membership_id": {
                "type": "string"
              },
              "affiliate_commission_cents": {
                "type": "integer"
              },
              "affiliate_payout_status": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "variant": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "OrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "net_amount": {
                  "type": "integer"
                },
                "tax_amount": {
                  "type": "integer"
                },
                "tax_breakdown": {
                  "type": "object"
                },
                "is_recovery_conversion": {
                  "type": "boolean"
                },
                "customer_country": {
                  "type": "string"
                },
                "business_name": {
                  "type": "string"
                },
                "customer_tax_id": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "affiliate_membership_id": {
                  "type": "string"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "order_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": {
                        "type": "string"
                      },
                      "variant_id": {
                        "type": "string"
                      },
                      "price": {
                        "type": "integer"
                      },
                      "quantity": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OrganizationMembersList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "seat_status": {
                  "type": "string"
                },
                "assigned_email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "customer_members": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AssignSeatRequest": {
        "type": "object",
        "properties": {
          "seat_id": {
            "type": "string",
            "description": "The ID of the seat to assign."
          },
          "email": {
            "type": "string",
            "description": "The member's email address."
          }
        }
      },
      "AssignSeatResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "OrganizationDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organization_name": {
            "type": "string",
            "description": "The new organization name."
          },
          "billing_email": {
            "type": "string",
            "description": "The new billing email."
          }
        }
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "preview_link": {
                "type": "string"
              },
              "pricing_model": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "subscription_interval": {
                "type": "string"
              },
              "trial_days": {
                "type": "integer"
              },
              "requires_license_key": {
                "type": "boolean"
              },
              "license_key_activation_limit": {
                "type": "integer"
              },
              "cart_recovery_enabled": {
                "type": "boolean"
              },
              "customer_portal_visibility": {
                "type": "string"
              },
              "variants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/VariantDetails"
                }
              },
              "deliverables": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeliverableDetails"
                }
              },
              "images": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ImageDetails"
                }
              }
            }
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "string"
          },
          "preview_link": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "VariantDetails": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "product_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "is_active": {
                "type": "boolean"
              },
              "subscription_interval": {
                "type": "string"
              },
              "trial_days": {
                "type": "integer"
              },
              "requires_license_key": {
                "type": "boolean"
              },
              "license_key_activation_limit": {
                "type": "integer"
              },
              "created_at": {
                "type": "string"
              },
              "deliverables": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeliverableDetails"
                }
              }
            }
          }
        }
      },
      "UpdateVariantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        }
      },
      "VariantsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariantDetails"
            }
          }
        }
      },
      "NewVariantRequest": {
        "type": "object",
        "required": [
          "name",
          "price"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        }
      },
      "ProductsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDetails"
            }
          }
        }
      },
      "NewProductRequest": {
        "type": "object",
        "required": [
          "name",
          "price",
          "pricing_model"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "pricing_model": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "preview_link": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "string"
          }
        }
      },
      "DeliverableDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "button_label": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ImageDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          }
        }
      },
      "RefundsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "UsageRecordRequest": {
        "type": "object",
        "properties": {
          "subscription_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "meter_event_name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "action": {
            "type": "string",
            "default": "increment"
          }
        }
      },
      "UsageRecordResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "store_id": {
                "type": "string"
              },
              "subscription_id": {
                "type": "string"
              },
              "meter_event_name": {
                "type": "string"
              },
              "quantity": {
                "type": "integer"
              },
              "action": {
                "type": "string"
              },
              "stripe_usage_record_id": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "UsageRecordsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "meter_event_name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                },
                "action": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "endpoint_url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "WebhookDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "endpoint_url": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "WebhooksList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "endpoint_url": {
                  "type": "string"
                },
                "is_active": {
                  "type": "boolean"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NewWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NewWebhookResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "endpoint_url": {
                "type": "string"
              },
              "signing_secret": {
                "type": "string"
              },
              "is_active": {
                "type": "boolean"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "created_at": {
                "type": "string"
              }
            }
          },
          "note": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}