{
  "openapi": "3.0.0",
  "info": {
    "title": "Webhooks & Events",
    "description": "Comprehensive API documentation for Blink.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blink.store/v1"
    }
  ],
  "paths": {
    "/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Track an event",
        "description": "This endpoint allows you to track events on your platform, sending data to Umami for analytics. The request requires an `eventName`, and you can optionally provide `eventData`, `url`, and `referrer`. The store must be identified by the `x-store-id` header. The endpoint formats the URL for tracking and sends the event to Umami, ensuring session continuity through forwarded headers like IP and User-Agent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventName": {
                    "type": "string"
                  },
                  "eventData": {
                    "type": "object"
                  },
                  "url": {
                    "type": "string"
                  },
                  "referrer": {
                    "type": "string"
                  }
                },
                "required": [
                  "eventName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    },
    "/v1/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Retrieve metrics by date range",
        "description": "This endpoint provides metrics such as revenue, order counts, and subscription statistics for a specified date range. The `x-store-id` header is required for authentication. Default date range is the last 30 days if not specified. The response includes gross and net revenue, number of orders, new customers, and Monthly Recurring Revenue (MRR) along with Annual Recurring Revenue (ARR).",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the metric period."
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the metric period."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid date format or range."
          },
          "401": {
            "description": "Unauthorized - Store ID header missing."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "storeIdHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "storeIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-store-id"
      }
    },
    "schemas": {
      "CartRecoveryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "recovery_emails_sent": {
                "type": "integer"
              },
              "recovery_url": {
                "type": "string"
              },
              "email_sent": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AbandonedCart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "recovery_emails_sent": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_checkout_session_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "AbandonedCartsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbandonedCart"
            }
          }
        }
      },
      "TriggerRecoveryEmailRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string"
          }
        },
        "required": [
          "cart_id"
        ]
      },
      "AffiliateConversions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "affiliate_commission_cents": {
                  "type": "integer"
                },
                "affiliate_payout_status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AffiliateDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "program_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "affiliate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "website": {
                "type": "string"
              },
              "social_links": {
                "type": "string"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "total_revenue": {
                "type": "number"
              },
              "total_commission": {
                "type": "integer"
              },
              "pending_commission": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UpdateAffiliateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "InviteAffiliateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ]
      },
      "GenerateTrackingLinkRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "membership_id",
          "code"
        ]
      },
      "TrackingLink": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AffiliatesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateDetails"
            }
          }
        }
      },
      "UpdateAffiliateMembershipStatusRequest": {
        "type": "object",
        "properties": {
          "membership_id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "reject",
              "ban"
            ]
          }
        },
        "required": [
          "membership_id",
          "action"
        ]
      },
      "AudienceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateAudienceMemberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "UnsubscribeAudienceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          }
        }
      },
      "BroadcastsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "store_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "recipients_filter": {
                  "type": "object"
                },
                "stats": {
                  "type": "object"
                },
                "sent_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "SendBroadcastRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "recipients_type": {
            "type": "string",
            "enum": [
              "all",
              "repeat_customers"
            ]
          }
        },
        "required": [
          "name",
          "subject",
          "html",
          "recipients_type"
        ]
      },
      "BroadcastResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "broadcast_id": {
                "type": "string"
              },
              "sent_count": {
                "type": "integer"
              },
              "audience_size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "AudienceContactsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceMember"
            }
          }
        }
      },
      "TaggedCustomersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "RemoveTagRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "customer_id",
          "tag"
        ]
      },
      "TagUpdateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        }
      },
      "StoreBalance": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              },
              "livemode": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          },
          "sales": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UpdateBumpRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          }
        }
      },
      "DeleteBumpResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BumpsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BumpDetails"
            }
          }
        }
      },
      "CreateBumpRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "badge_title": {
            "type": "string"
          },
          "badge_color": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "price"
        ]
      },
      "CheckoutLinksList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutLinkDetails"
            }
          }
        }
      },
      "CreateCheckoutLinkRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CheckoutLinkDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "sales": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateCheckoutLinkRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "design": {
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CheckoutSessionsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutSessionDetails"
            }
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "discount_code": {
            "type": "string"
          },
          "affiliate_code": {
            "type": "string"
          },
          "splits": {
            "type": "object"
          },
          "success_url": {
            "type": "string"
          },
          "cancel_url": {
            "type": "string"
          },
          "ui_mode": {
            "type": "string"
          },
          "return_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "product_id"
        ]
      },
      "CheckoutSessionDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "amount_total": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerMeterBalance": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "meter_id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "total_credits": {
                  "type": "integer"
                },
                "used_credits": {
                  "type": "integer"
                },
                "remaining_credits": {
                  "type": "integer"
                },
                "rollover_unused": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "meter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "unit": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerOrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "net_amount": {
                  "type": "number"
                },
                "tax_amount": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "customer_country": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PortalSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "customer_email": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          },
          "lifetime_revenue": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "orders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CustomerSubscriptions": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "current_period_end": {
                  "type": "string",
                  "format": "date-time"
                },
                "cancel_at_period_end": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomersListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDetails"
            }
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ]
      },
      "DiscountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateDiscountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string"
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateDiscountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount_type": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed"
            ]
          },
          "discount_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "max_redemptions": {
            "type": "integer"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "code",
          "discount_type",
          "discount_amount"
        ]
      },
      "DeleteDiscountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DiscountsListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountDetails"
            }
          }
        }
      },
      "DisputesListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "BroadcastEmailRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "target_all": {
            "type": "boolean"
          }
        }
      },
      "BroadcastEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FileDownloadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "file_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "FileDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "button_label": {
            "type": "string"
          },
          "file_r2_key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "bump_id": {
            "type": "string"
          }
        }
      },
      "DeleteFileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FilesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "LicenseKeyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "LicenseKeyDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "activations": {
            "type": "integer"
          },
          "activation_limit": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "UpdateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "activation_limit": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ActivateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string"
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseKeyActivationResponse": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LicenseKeysList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LicenseKeyDetails"
            }
          }
        }
      },
      "ValidateLicenseKeyRequest": {
        "type": "object",
        "properties": {
          "license_key": {
            "type": "string"
          }
        },
        "required": [
          "license_key"
        ]
      },
      "LicenseKeyValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "activations": {
                "type": "integer"
              },
              "activation_limit": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "customer_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "MeterDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateMeterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "MetersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeterDetails"
            }
          }
        }
      },
      "CreateMeterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "event_name": {
            "type": "string"
          },
          "aggregation_type": {
            "type": "string",
            "enum": [
              "sum",
              "count",
              "max",
              "latest"
            ]
          },
          "unit": {
            "type": "string",
            "default": "unit"
          }
        },
        "required": [
          "name",
          "event_name",
          "aggregation_type"
        ]
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "period": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "orders": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "gross_revenue": {
                    "type": "number"
                  },
                  "net_revenue": {
                    "type": "number"
                  }
                }
              },
              "subscriptions": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "integer"
                  },
                  "mrr": {
                    "type": "number"
                  },
                  "arr": {
                    "type": "number"
                  }
                }
              },
              "customers": {
                "type": "object",
                "properties": {
                  "new_in_period": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "RefundOrderRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount to refund in cents if partial refund is desired."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund. Defaults to 'requested_by_customer'."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "refund_id": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "OrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetails"
            }
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "net_amount": {
            "type": "number"
          },
          "tax_amount": {
            "type": "number"
          },
          "tax_breakdown": {
            "type": "object"
          },
          "customer_country": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "customer_tax_id": {
            "type": "string"
          },
          "is_recovery_conversion": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "order_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "OrganizationDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationDetails"
            }
          }
        }
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "organization_name"
        ]
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organization_name": {
            "type": "string"
          },
          "billing_email": {
            "type": "string"
          }
        }
      },
      "AddOrganizationMemberRequest": {
        "type": "object",
        "properties": {
          "seat_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "seat_id",
          "email"
        ]
      },
      "OrganizationMembersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "seat_status": {
                  "type": "string"
                },
                "assigned_email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "customer_members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PayoutsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "payout_date": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "PortalOrdersList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "order_id": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "preview_link": {
            "type": "string"
          },
          "pricing_model": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "pricing_tiers": {
            "type": "string"
          },
          "package_size": {
            "type": "integer"
          },
          "metered_prices": {
            "type": "string"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "boolean"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantDetails"
            }
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "file_url": {
                  "type": "string"
                },
                "position": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "boolean"
          },
          "preview_link": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "ProductVariantsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantDetails"
            }
          }
        }
      },
      "CreateProductVariantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "price"
        ]
      },
      "ProductVariantDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "button_label": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "UpdateProductVariantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          }
        }
      },
      "ProductsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDetails"
            }
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricing_model": {
            "type": "string",
            "enum": [
              "one_time",
              "subscription",
              "pay_what_you_want",
              "tiered"
            ]
          },
          "price": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "subscription_interval": {
            "type": "string"
          },
          "trial_days": {
            "type": "integer"
          },
          "preview_link": {
            "type": "string"
          },
          "requires_license_key": {
            "type": "boolean"
          },
          "license_key_activation_limit": {
            "type": "integer"
          },
          "cart_recovery_enabled": {
            "type": "boolean"
          },
          "customer_portal_visibility": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "pricing_model",
          "price"
        ]
      },
      "RefundsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "SubscriptionInvoicesList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "subscription_id": {
                  "type": "string"
                },
                "customer_id": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SubscriptionDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "store_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time"
          },
          "cancel_at_period_end": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "stripe_subscription_id": {
            "type": "string"
          },
          "stripe_customer_id": {
            "type": "string"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "pricing_model": {
                "type": "string"
              },
              "subscription_interval": {
                "type": "string"
              }
            }
          },
          "variant": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "subscription_interval": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdateSubscriptionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "cancel",
              "cancel_immediately",
              "resume"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "SubscriptionsList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionDetails"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "storeIdHeader": []
    }
  ]
}